mapHelper/mapHelper/Repository/EDI/005010/102.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/102" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>102</me:id>  
    <me:title>ASSOCIATED DATA</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>AC</me:functionalGroup>  
    <me:description>ASSOCIATED DATA</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_ORI" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_OOI" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S4" type="es:S_BDS" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --></schema>