mapHelper/mapHelper/Repository/EDI/005010/112.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/112" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>112</me:id>  
    <me:title>PROPERTY DAMAGE REPORT</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>PQ</me:functionalGroup>  
    <me:description>PROPERTY DAMAGE REPORT</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SUP</me:id>  
    <me:title>SUPPLEMENTARY INFORMATION</me:title>  
    <me:description>SUPPLEMENTARY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_SUP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S6" type="es:S_NM1" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>HL</me:id>  
    <me:title>HIERARCHICAL LEVEL</me:title>  
    <me:description>HIERARCHICAL LEVEL</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_K2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_TXI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_SLN" maxOccurs="1" me:nodetype="SEG"></element><element name="S19" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>III</me:id>  
    <me:title>INFORMATION</me:title>  
    <me:description>INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_III" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_MS1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CID</me:id>  
    <me:title>CHARACTERISTIC/CLASS ID</me:title>  
    <me:description>CHARACTERISTIC/CLASS ID</me:description>  
    </appinfo></annotation><sequence><element name="S30" type="es:S_CID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>