mapHelper/mapHelper/Repository/EDI/005010/125.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/125" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>125</me:id>  
    <me:title>MULTILEVEL RAILCAR LOAD DETAILS</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>MR</me:functionalGroup>  
    <me:description>MULTILEVEL RAILCAR LOAD DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BMM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_G62" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N7" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_VC" maxOccurs="21" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --></schema>