mapHelper/mapHelper/Repository/EDI/005010/130.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/130" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>130</me:id>  
    <me:title>STUDENT EDUCATIONAL RECORD (TRANSCRIPT)</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>ED</me:functionalGroup>  
    <me:description>STUDENT EDUCATIONAL RECORD (TRANSCRIPT)</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_ERP" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_REF" maxOccurs="10" me:nodetype="SEG"></element><element name="S4" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_LUI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_IND" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_RAP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PCL" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_NTE" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="L_11" type="me:L_11" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" maxOccurs="15" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IN1</me:id>  
    <me:title>INDIVIDUAL IDENTIFICATION</me:title>  
    <me:description>INDIVIDUAL IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S17" type="es:S_EMS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_IN2" maxOccurs="10" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="S21" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N3</me:id>  
    <me:title>PARTY LOCATION</me:title>  
    <me:description>PARTY LOCATION</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SST</me:id>  
    <me:title>STUDENT ACADEMIC STATUS</me:title>  
    <me:description>STUDENT ACADEMIC STATUS</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_SST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_SSE" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ATV</me:id>  
    <me:title>STUDENT ACTIVITIES AND AWARDS</me:title>  
    <me:description>STUDENT ACTIVITIES AND AWARDS</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_ATV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TST</me:id>  
    <me:title>TEST SCORE RECORD</me:title>  
    <me:description>TEST SCORE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S31" type="es:S_TST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SBT</me:id>  
    <me:title>SUBTEST</me:title>  
    <me:description>SUBTEST</me:description>  
    </appinfo></annotation><sequence><element name="S32" type="es:S_SBT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_SRE" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_NTE" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SUM</me:id>  
    <me:title>ACADEMIC SUMMARY</me:title>  
    <me:description>ACADEMIC SUMMARY</me:description>  
    </appinfo></annotation><sequence><element name="S35" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S37" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_HS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_IMM" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="30" me:nodetype="LOOP"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>HC</me:id>  
    <me:title>HEALTH CONDITION</me:title>  
    <me:description>HEALTH CONDITION</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_HC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SP</me:id>  
    <me:title>SPECIAL PROGRAM</me:title>  
    <me:description>SPECIAL PROGRAM</me:description>  
    </appinfo></annotation><sequence><element name="S46" type="es:S_SP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_51" type="me:L_51" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_51" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>OPS</me:id>  
    <me:title>PROGRAM SUBJECT AREA AND ELIGIBILITY</me:title>  
    <me:description>PROGRAM SUBJECT AREA AND ELIGIBILITY</me:description>  
    </appinfo></annotation><sequence><element name="S51" type="es:S_OPS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_OPX" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_DTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SES</me:id>  
    <me:title>ACADEMIC SESSION HEADER</me:title>  
    <me:description>ACADEMIC SESSION HEADER</me:description>  
    </appinfo></annotation><sequence><element name="S54" type="es:S_SES" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SUM</me:id>  
    <me:title>ACADEMIC SUMMARY</me:title>  
    <me:description>ACADEMIC SUMMARY</me:description>  
    </appinfo></annotation><sequence><element name="S60" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CRS</me:id>  
    <me:title>COURSE RECORD</me:title>  
    <me:description>COURSE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S62" type="es:S_CRS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_CSU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_LUI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_RAP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_70" type="me:L_70" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MKS</me:id>  
    <me:title>MARKS AWARDED</me:title>  
    <me:description>MARKS AWARDED</me:description>  
    </appinfo></annotation><sequence><element name="S70" type="es:S_MKS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_LUI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DEG</me:id>  
    <me:title>DEGREE RECORD</me:title>  
    <me:description>DEGREE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S72" type="es:S_DEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_SUM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_FOS" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_N1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_NTE" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>