mapHelper/mapHelper/Repository/EDI/005010/138.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/138" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>138</me:id>  
    <me:title>EDUCATIONAL TESTING AND PROSPECT REQUEST AND REPORT</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>TT</me:functionalGroup>  
    <me:description>EDUCATIONAL TESTING AND PROSPECT REQUEST AND REPORT</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_ERP" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_REF" maxOccurs="1" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IN1</me:id>  
    <me:title>INDIVIDUAL IDENTIFICATION</me:title>  
    <me:description>INDIVIDUAL IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_IN2" maxOccurs="10" me:nodetype="SEG"></element><element name="S10" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_IND" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LUI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_RQS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_SCA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>EMS</me:id>  
    <me:title>EMPLOYMENT POSITION</me:title>  
    <me:description>EMPLOYMENT POSITION</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TST</me:id>  
    <me:title>TEST SCORE RECORD</me:title>  
    <me:description>TEST SCORE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S23" type="es:S_TST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SBT</me:id>  
    <me:title>SUBTEST</me:title>  
    <me:description>SUBTEST</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_SBT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_SRE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>RAP</me:id>  
    <me:title>REQUIREMENT, ATTRIBUTE, AND PROFICIENCY</me:title>  
    <me:description>REQUIREMENT, ATTRIBUTE, AND PROFICIENCY</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_RAP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SCA</me:id>  
    <me:title>STATISTICAL CATEGORY ANALYSIS</me:title>  
    <me:description>STATISTICAL CATEGORY ANALYSIS</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_SCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_FOS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S31" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DEG</me:id>  
    <me:title>DEGREE RECORD</me:title>  
    <me:description>DEGREE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S35" type="es:S_DEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_FOS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SST</me:id>  
    <me:title>STUDENT ACADEMIC STATUS</me:title>  
    <me:description>STUDENT ACADEMIC STATUS</me:description>  
    </appinfo></annotation><sequence><element name="S37" type="es:S_SST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_FOS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_RQS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S42" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PCL</me:id>  
    <me:title>PREVIOUS COLLEGE</me:title>  
    <me:description>PREVIOUS COLLEGE</me:description>  
    </appinfo></annotation><sequence><element name="S46" type="es:S_PCL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_FOS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_51" type="me:L_51" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_51" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DEG</me:id>  
    <me:title>DEGREE RECORD</me:title>  
    <me:description>DEGREE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S51" type="es:S_DEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_FOS" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ATV</me:id>  
    <me:title>STUDENT ACTIVITIES AND AWARDS</me:title>  
    <me:description>STUDENT ACTIVITIES AND AWARDS</me:description>  
    </appinfo></annotation><sequence><element name="S54" type="es:S_ATV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>