mapHelper/mapHelper/Repository/EDI/005010/189.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/189" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>189</me:id>  
    <me:title>APPLICATION FOR ADMISSION TO EDUCATIONAL INSTITUTIO</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>AF</me:functionalGroup>  
    <me:description>APPLICATION FOR ADMISSION TO EDUCATIONAL INSTITUTIO</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_7" type="me:L_7" maxOccurs="15" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S36" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="15" me:nodetype="LOOP"></element><element name="S39" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_63" type="me:L_63" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_81" type="me:L_81" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_83" type="me:L_83" minOccurs="0" maxOccurs="15" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S7" type="es:S_REF" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IN1</me:id>  
    <me:title>INDIVIDUAL IDENTIFICATION</me:title>  
    <me:description>INDIVIDUAL IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_IN2" maxOccurs="10" me:nodetype="SEG"></element><element name="S13" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_IND" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_IMM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_HC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_LUI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_III" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N3</me:id>  
    <me:title>PARTY LOCATION</me:title>  
    <me:description>PARTY LOCATION</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>COM</me:id>  
    <me:title>COMMUNICATION CONTACT INFORMATION</me:title>  
    <me:description>COMMUNICATION CONTACT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_COM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S26" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>EMS</me:id>  
    <me:title>EMPLOYMENT POSITION</me:title>  
    <me:description>EMPLOYMENT POSITION</me:description>  
    </appinfo></annotation><sequence><element name="S30" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ATV</me:id>  
    <me:title>STUDENT ACTIVITIES AND AWARDS</me:title>  
    <me:description>STUDENT ACTIVITIES AND AWARDS</me:description>  
    </appinfo></annotation><sequence><element name="S34" type="es:S_ATV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AMT</me:id>  
    <me:title>MONETARY AMOUNT INFORMATION</me:title>  
    <me:description>MONETARY AMOUNT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S37" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SSE</me:id>  
    <me:title>ENTRY AND EXIT INFORMATION</me:title>  
    <me:description>ENTRY AND EXIT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_DEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_FOS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LQ</me:id>  
    <me:title>INDUSTRY CODE IDENTIFICATION</me:title>  
    <me:description>INDUSTRY CODE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S43" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_PDL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>RSD</me:id>  
    <me:title>RESIDENCY INFORMATION</me:title>  
    <me:description>RESIDENCY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S45" type="es:S_RSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_N4" maxOccurs="1" me:nodetype="SEG"></element><element name="S47" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>RQS</me:id>  
    <me:title>REQUEST FOR INFORMATION</me:title>  
    <me:description>REQUEST FOR INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S50" type="es:S_RQS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SST</me:id>  
    <me:title>STUDENT ACADEMIC STATUS</me:title>  
    <me:description>STUDENT ACADEMIC STATUS</me:description>  
    </appinfo></annotation><sequence><element name="S52" type="es:S_SST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_N1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_COM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_SUM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SES</me:id>  
    <me:title>ACADEMIC SESSION HEADER</me:title>  
    <me:description>ACADEMIC SESSION HEADER</me:description>  
    </appinfo></annotation><sequence><element name="S60" type="es:S_SES" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CRS</me:id>  
    <me:title>COURSE RECORD</me:title>  
    <me:description>COURSE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S61" type="es:S_CRS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_63" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TST</me:id>  
    <me:title>TEST SCORE RECORD</me:title>  
    <me:description>TEST SCORE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S63" type="es:S_TST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_64" type="me:L_64" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_64" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SBT</me:id>  
    <me:title>SUBTEST</me:title>  
    <me:description>SUBTEST</me:description>  
    </appinfo></annotation><sequence><element name="S64" type="es:S_SBT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_SRE" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_NTE" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PCL</me:id>  
    <me:title>PREVIOUS COLLEGE</me:title>  
    <me:description>PREVIOUS COLLEGE</me:description>  
    </appinfo></annotation><sequence><element name="S67" type="es:S_PCL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_COM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SES</me:id>  
    <me:title>ACADEMIC SESSION HEADER</me:title>  
    <me:description>ACADEMIC SESSION HEADER</me:description>  
    </appinfo></annotation><sequence><element name="S74" type="es:S_SES" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_75" type="me:L_75" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_77" type="me:L_77" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_75" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CRS</me:id>  
    <me:title>COURSE RECORD</me:title>  
    <me:description>COURSE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S75" type="es:S_CRS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_77" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DEG</me:id>  
    <me:title>DEGREE RECORD</me:title>  
    <me:description>DEGREE RECORD</me:description>  
    </appinfo></annotation><sequence><element name="S77" type="es:S_DEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_FOS" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_NTE" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_81" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S81" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_MSG" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_83" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LT</me:id>  
    <me:title>LETTER OF RECOMMENDATION</me:title>  
    <me:description>LETTER OF RECOMMENDATION</me:description>  
    </appinfo></annotation><sequence><element name="S83" type="es:S_LT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_LTE" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S91" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>