mapHelper/mapHelper/Repository/EDI/005010/195.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/195" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>195</me:id>  
    <me:title>FEDERAL COMMUNICATIONS COMMISSION (FCC) LICENSE APP</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>LA</me:functionalGroup>  
    <me:description>FEDERAL COMMUNICATIONS COMMISSION (FCC) LICENSE APP</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_PWK" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CRC</me:id>  
    <me:title>CONDITIONS INDICATOR</me:title>  
    <me:description>CONDITIONS INDICATOR</me:description>  
    </appinfo></annotation><sequence><element name="S5" type="es:S_CRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AMT</me:id>  
    <me:title>MONETARY AMOUNT INFORMATION</me:title>  
    <me:description>MONETARY AMOUNT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S7" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S9" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CRC</me:id>  
    <me:title>CONDITIONS INDICATOR</me:title>  
    <me:description>CONDITIONS INDICATOR</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_CRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S22" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S24" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PO1</me:id>  
    <me:title>BASELINE ITEM DATA</me:title>  
    <me:description>BASELINE ITEM DATA</me:description>  
    </appinfo></annotation><sequence><element name="S26" type="es:S_PO1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MEA</me:id>  
    <me:title>MEASUREMENTS</me:title>  
    <me:description>MEASUREMENTS</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_LIE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S30" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_LIE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S32" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S34" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S36" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CRC</me:id>  
    <me:title>CONDITIONS INDICATOR</me:title>  
    <me:description>CONDITIONS INDICATOR</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_CRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S43" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S45" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>