mapHelper/mapHelper/Repository/EDI/005010/212.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/212" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>212</me:id>  
    <me:title>MOTOR CARRIER DELIVERY TRAILER MANIFEST</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>TM</me:functionalGroup>  
    <me:description>MOTOR CARRIER DELIVERY TRAILER MANIFEST</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_ATA" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_L11" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G62" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AT7</me:id>  
    <me:title>SHIPMENT STATUS DETAILS</me:title>  
    <me:description>SHIPMENT STATUS DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_AT7" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_MS1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MS2</me:id>  
    <me:title>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:title>  
    <me:description>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_MS2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_M7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_AT9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_AT7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_BLR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_MAN" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_AT8" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_Q7" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_TSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>OID</me:id>  
    <me:title>ORDER INFORMATION DETAIL</me:title>  
    <me:description>ORDER INFORMATION DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S26" type="es:S_OID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_SDQ" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_L11" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>