mapHelper/mapHelper/Repository/EDI/005010/223.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/223" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>223</me:id>  
    <me:title>CONSOLIDATORS FREIGHT BILL AND INVOICE</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>MQ</me:functionalGroup>  
    <me:description>CONSOLIDATORS FREIGHT BILL AND INVOICE</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_B10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S2" type="es:S_B3A" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_L11" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N7</me:id>  
    <me:title>EQUIPMENT DETAILS</me:title>  
    <me:description>EQUIPMENT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S9" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CSD</me:id>  
    <me:title>CONSOLIDATED SHIPMENT INVOICE DATA</me:title>  
    <me:description>CONSOLIDATED SHIPMENT INVOICE DATA</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_CSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>OID</me:id>  
    <me:title>ORDER INFORMATION DETAIL</me:title>  
    <me:description>ORDER INFORMATION DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S12" type="es:S_OID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S24" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CSD</me:id>  
    <me:title>CONSOLIDATED SHIPMENT INVOICE DATA</me:title>  
    <me:description>CONSOLIDATED SHIPMENT INVOICE DATA</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_CSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_AT8" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_L1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>OID</me:id>  
    <me:title>ORDER INFORMATION DETAIL</me:title>  
    <me:description>ORDER INFORMATION DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S25" type="es:S_OID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>