mapHelper/mapHelper/Repository/EDI/005010/252.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/252" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>252</me:id>  
    <me:title>INSURANCE PRODUCER ADMINISTRATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>IE</me:functionalGroup>  
    <me:description>INSURANCE PRODUCER ADMINISTRATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ENT</me:id>  
    <me:title>ENTITY</me:title>  
    <me:description>ENTITY</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_ENT" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_ASI" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_YNQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_DMA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_AM1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_68" type="me:L_68" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N9</me:id>  
    <me:title>EXTENDED REFERENCE INFORMATION</me:title>  
    <me:description>EXTENDED REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_N9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_AM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N3</me:id>  
    <me:title>PARTY LOCATION</me:title>  
    <me:description>PARTY LOCATION</me:description>  
    </appinfo></annotation><sequence><element name="S30" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S34" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_N4" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>UC</me:id>  
    <me:title>UNDERWRITING CATEGORY</me:title>  
    <me:description>UNDERWRITING CATEGORY</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_UC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_III" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_PER" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_CDS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_CED" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_TST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_SRE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIC</me:id>  
    <me:title>LICENSE INFORMATION</me:title>  
    <me:description>LICENSE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S53" type="es:S_LIC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_AM1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIN</me:id>  
    <me:title>ITEM IDENTIFICATION</me:title>  
    <me:description>ITEM IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S56" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ACT</me:id>  
    <me:title>ACCOUNT IDENTIFICATION</me:title>  
    <me:description>ACCOUNT IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S58" type="es:S_ACT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SPA</me:id>  
    <me:title>STATUS OF PRODUCT OR ACTIVITY</me:title>  
    <me:description>STATUS OF PRODUCT OR ACTIVITY</me:description>  
    </appinfo></annotation><sequence><element name="S59" type="es:S_SPA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_AM1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_REF" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_66" type="me:L_66" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_66" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIN</me:id>  
    <me:title>ITEM IDENTIFICATION</me:title>  
    <me:description>ITEM IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S66" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_68" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PWK</me:id>  
    <me:title>PAPERWORK</me:title>  
    <me:description>PAPERWORK</me:description>  
    </appinfo></annotation><sequence><element name="S68" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>EFI</me:id>  
    <me:title>ELECTRONIC FORMAT IDENTIFICATION</me:title>  
    <me:description>ELECTRONIC FORMAT IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S72" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_BIN" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType></schema>