mapHelper/mapHelper/Repository/EDI/005010/256.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/256" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>256</me:id>  
    <me:title>PERIODIC COMPENSATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>PE</me:functionalGroup>  
    <me:description>PERIODIC COMPENSATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BSC" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_N9" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S5" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S10" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>BLI</me:id>  
    <me:title>BASIC BASELINE ITEM DATA</me:title>  
    <me:description>BASIC BASELINE ITEM DATA</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_BLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_BLN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_RPA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S22" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AM1</me:id>  
    <me:title>INFORMATIONAL VALUES</me:title>  
    <me:description>INFORMATIONAL VALUES</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_AM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_III" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AMT</me:id>  
    <me:title>MONETARY AMOUNT INFORMATION</me:title>  
    <me:description>MONETARY AMOUNT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S33" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_MSG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>RPA</me:id>  
    <me:title>RATE AMOUNTS OR PERCENTS</me:title>  
    <me:description>RATE AMOUNTS OR PERCENTS</me:description>  
    </appinfo></annotation><sequence><element name="S36" type="es:S_RPA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_III" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ENT</me:id>  
    <me:title>ENTITY</me:title>  
    <me:description>ENTITY</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_ENT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_ADX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_BLN" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>