mapHelper/mapHelper/Repository/EDI/005010/272.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/272" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>272</me:id>  
    <me:title>PROPERTY AND CASUALTY LOSS NOTIFICATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>LN</me:functionalGroup>  
    <me:description>PROPERTY AND CASUALTY LOSS NOTIFICATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="15" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N9</me:id>  
    <me:title>EXTENDED REFERENCE INFORMATION</me:title>  
    <me:description>EXTENDED REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_N9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_5" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S5" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N9" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LID</me:id>  
    <me:title>LOSS INFORMATION DESCRIPTION</me:title>  
    <me:description>LOSS INFORMATION DESCRIPTION</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_LID" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_LQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_BCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_SI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_YNQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S28" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S38" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIE</me:id>  
    <me:title>INDIVIDUAL OR EVENT LOCATION</me:title>  
    <me:description>INDIVIDUAL OR EVENT LOCATION</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_LIE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N9</me:id>  
    <me:title>EXTENDED REFERENCE INFORMATION</me:title>  
    <me:description>EXTENDED REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_N9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PWK</me:id>  
    <me:title>PAPERWORK</me:title>  
    <me:description>PAPERWORK</me:description>  
    </appinfo></annotation><sequence><element name="S22" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N9" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIE</me:id>  
    <me:title>INDIVIDUAL OR EVENT LOCATION</me:title>  
    <me:description>INDIVIDUAL OR EVENT LOCATION</me:description>  
    </appinfo></annotation><sequence><element name="S35" type="es:S_LIE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S39" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_113" type="me:L_113" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>VEH</me:id>  
    <me:title>VEHICLE INFORMATION</me:title>  
    <me:description>VEHICLE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_VEH" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_VAT" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DVI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_VRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_DAM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIE</me:id>  
    <me:title>INDIVIDUAL OR EVENT LOCATION</me:title>  
    <me:description>INDIVIDUAL OR EVENT LOCATION</me:description>  
    </appinfo></annotation><sequence><element name="S46" type="es:S_LIE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S50" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_PDR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_PDP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_K2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_LIE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_EM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_SD1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_PKD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_K1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_V1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_R1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_R4" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S71" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>K2</me:id>  
    <me:title>ADMINISTRATIVE MESSAGE</me:title>  
    <me:description>ADMINISTRATIVE MESSAGE</me:description>  
    </appinfo></annotation><sequence><element name="S67" type="es:S_K2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_LIE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NX1</me:id>  
    <me:title>PROPERTY OR ENTITY IDENTIFICATION</me:title>  
    <me:description>PROPERTY OR ENTITY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S72" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_NM1" maxOccurs="1" me:nodetype="SEG"></element><element name="S74" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_ICH" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_CRC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_BCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_82" type="me:L_82" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S93" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_94" type="me:L_94" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S112" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_82" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LQ</me:id>  
    <me:title>INDUSTRY CODE IDENTIFICATION</me:title>  
    <me:description>INDUSTRY CODE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S82" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_88" type="me:L_88" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S92" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_88" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LQ</me:id>  
    <me:title>INDUSTRY CODE IDENTIFICATION</me:title>  
    <me:description>INDUSTRY CODE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S88" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S91" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_94" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S94" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S95" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S96" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S97" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S98" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_ICH" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S101" type="es:S_CRC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S102" type="es:S_BCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_103" type="me:L_103" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_103" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>III</me:id>  
    <me:title>INFORMATION</me:title>  
    <me:description>INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S103" type="es:S_III" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S104" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S105" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S106" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_108" type="me:L_108" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_108" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LQ</me:id>  
    <me:title>INDUSTRY CODE IDENTIFICATION</me:title>  
    <me:description>INDUSTRY CODE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S108" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S109" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S110" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S111" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_113" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PIN</me:id>  
    <me:title>PREVIOUS INCIDENT</me:title>  
    <me:description>PREVIOUS INCIDENT</me:description>  
    </appinfo></annotation><sequence><element name="S113" type="es:S_PIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S114" type="es:S_BCI" maxOccurs="1" me:nodetype="SEG"></element><element name="S115" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S116" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_117" type="me:L_117" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_117" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PWK</me:id>  
    <me:title>PAPERWORK</me:title>  
    <me:description>PAPERWORK</me:description>  
    </appinfo></annotation><sequence><element name="S117" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S118" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S119" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S120" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S121" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S122" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>