mapHelper/mapHelper/Repository/EDI/005010/420.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/420" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>420</me:id>  
    <me:title>CAR HANDLING INFORMATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>CH</me:functionalGroup>  
    <me:description>CAR HANDLING INFORMATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="L_1" type="me:L_1" maxOccurs="150" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_1" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>E6</me:id>  
    <me:title>ADVANCE CAR DISPOSITION</me:title>  
    <me:description>ADVANCE CAR DISPOSITION</me:description>  
    </appinfo></annotation><sequence><element name="S1" type="es:S_E6" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_E8" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType></schema>