mapHelper/mapHelper/Repository/EDI/005010/422.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/422" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>422</me:id>  
    <me:title>EQUIPMENT ORDER</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>DM</me:functionalGroup>  
    <me:description>EQUIPMENT ORDER</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BCQ" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_PI" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_LQ" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_QTY" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_NTE" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" maxOccurs="31" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S7" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S12" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S13" type="es:S_D9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="31" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>F9</me:id>  
    <me:title>ORIGIN STATION</me:title>  
    <me:description>ORIGIN STATION</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_F9" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_R2" maxOccurs="13" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SCR</me:id>  
    <me:title>SHIPPER'S CAR ORDERED RAIL</me:title>  
    <me:description>SHIPPER'S CAR ORDERED RAIL</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_SCR" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_GA" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DTM" maxOccurs="10" me:nodetype="SEG"></element><element name="S20" type="es:S_QTY" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_YNQ" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PI" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="S26" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S31" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LQ</me:id>  
    <me:title>INDUSTRY CODE IDENTIFICATION</me:title>  
    <me:description>INDUSTRY CODE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N7</me:id>  
    <me:title>EQUIPMENT DETAILS</me:title>  
    <me:description>EQUIPMENT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_SCR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>