mapHelper/mapHelper/Repository/EDI/005010/437.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/437" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>437</me:id>  
    <me:title>RAILROAD JUNCTIONS AND INTERCHANGES ACTIVITY</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>RV</me:functionalGroup>  
    <me:description>RAILROAD JUNCTIONS AND INTERCHANGES ACTIVITY</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BJF" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="10" me:nodetype="SEG"></element><element name="S3" type="es:S_JCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>JS</me:id>  
    <me:title>RAIL JUNCTION SETTLEMENT ROLE INFORMATION</me:title>  
    <me:description>RAIL JUNCTION SETTLEMENT ROLE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_JS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_SID" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>