mapHelper/mapHelper/Repository/EDI/005010/456.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/456" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>456</me:id>  
    <me:title>RAILROAD EQUIPMENT INQUIRY OR ADVICE</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>EI</me:functionalGroup>  
    <me:description>RAILROAD EQUIPMENT INQUIRY OR ADVICE</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_EIA" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N8" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_H5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_IC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_F9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_D9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N9" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_L5" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_R2" maxOccurs="13" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_VC" maxOccurs="36" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PI" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="12" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>S1</me:id>  
    <me:title>STOP-OFF NAME</me:title>  
    <me:description>STOP-OFF NAME</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_S1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_S9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IS1</me:id>  
    <me:title>ESTIMATED TIME OF ARRIVAL AND CAR SCHEDULING</me:title>  
    <me:description>ESTIMATED TIME OF ARRIVAL AND CAR SCHEDULING</me:description>  
    </appinfo></annotation><sequence><element name="S18" type="es:S_IS1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_ISC" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_IS2" maxOccurs="99" me:nodetype="SEG"></element><element name="S21" type="es:S_N9" maxOccurs="5" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ER</me:id>  
    <me:title>RAIL EVENT REPORTING</me:title>  
    <me:description>RAIL EVENT REPORTING</me:description>  
    </appinfo></annotation><sequence><element name="S22" type="es:S_ER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_NA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_ES" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>