mapHelper/mapHelper/Repository/EDI/005010/468.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/468" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>468</me:id>  
    <me:title>RATE DOCKET JOURNAL LOG</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>TP</me:functionalGroup>  
    <me:description>RATE DOCKET JOURNAL LOG</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_DK" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="7" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>JL</me:id>  
    <me:title>JOURNAL IDENTIFICATION</me:title>  
    <me:description>JOURNAL IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_JL" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_K1" maxOccurs="100" me:nodetype="SEG"></element></sequence></complexType></schema>