mapHelper/mapHelper/Repository/EDI/005010/857.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/857" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>857</me:id>  
    <me:title>SHIPMENT AND BILLING NOTICE</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>BS</me:functionalGroup>  
    <me:description>SHIPMENT AND BILLING NOTICE</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BHT" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>HL</me:id>  
    <me:title>HIERARCHICAL LEVEL</me:title>  
    <me:description>HIERARCHICAL LEVEL</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G05</me:id>  
    <me:title>TOTAL SHIPMENT INFORMATION</me:title>  
    <me:description>TOTAL SHIPMENT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_G05" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_TD1" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_TD3" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_TD4" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_TD5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_FOB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S13" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TDS</me:id>  
    <me:title>TOTAL MONETARY VALUE SUMMARY</me:title>  
    <me:description>TOTAL MONETARY VALUE SUMMARY</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_TDS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_ITD" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_SN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_ISS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FA1</me:id>  
    <me:title>TYPE OF FINANCIAL ACCOUNTING DATA</me:title>  
    <me:description>TYPE OF FINANCIAL ACCOUNTING DATA</me:description>  
    </appinfo></annotation><sequence><element name="S33" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_FA2" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PAL</me:id>  
    <me:title>PALLET TYPE AND LOAD CHARACTERISTICS</me:title>  
    <me:description>PALLET TYPE AND LOAD CHARACTERISTICS</me:description>  
    </appinfo></annotation><sequence><element name="S35" type="es:S_PAL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_SN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_MAN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N9" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_SN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_PO4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PKG" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_MAN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IT1</me:id>  
    <me:title>BASELINE ITEM DATA (INVOICE)</me:title>  
    <me:description>BASELINE ITEM DATA (INVOICE)</me:description>  
    </appinfo></annotation><sequence><element name="S45" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_IT3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_PO4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_TD4" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_TC2" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_CTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_ITD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_64" type="me:L_64" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PID</me:id>  
    <me:title>PRODUCT/ITEM DESCRIPTION</me:title>  
    <me:description>PRODUCT/ITEM DESCRIPTION</me:description>  
    </appinfo></annotation><sequence><element name="S56" type="es:S_PID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLN</me:id>  
    <me:title>SUBLINE ITEM DETAIL</me:title>  
    <me:description>SUBLINE ITEM DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S58" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_PID" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S60" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S62" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_64" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FA1</me:id>  
    <me:title>TYPE OF FINANCIAL ACCOUNTING DATA</me:title>  
    <me:description>TYPE OF FINANCIAL ACCOUNTING DATA</me:description>  
    </appinfo></annotation><sequence><element name="S64" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_FA2" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType></schema>