mapHelper/mapHelper/Repository/EDI/005010/885.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/885" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>885</me:id>  
    <me:title>RETAIL ACCOUNT CHARACTERISTICS</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>UA</me:functionalGroup>  
    <me:description>RETAIL ACCOUNT CHARACTERISTICS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_N1" maxOccurs="3" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ENT</me:id>  
    <me:title>ENTITY</me:title>  
    <me:description>ENTITY</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_ENT" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_G53" maxOccurs="1" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N1" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_G13" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_G18" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_G29" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_G30" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_SPR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_RDI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_LQ" maxOccurs="10" me:nodetype="SEG"></element></sequence></complexType></schema>