mapHelper/mapHelper/Repository/EDI/005010/887.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/887" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/005010/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/005010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>887</me:id>  
    <me:title>COUPON NOTIFICATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>005010</me:ediversion>  
    <me:functionalGroup>CN</me:functionalGroup>  
    <me:description>COUPON NOTIFICATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N1" maxOccurs="4" me:nodetype="SEG"></element><element name="S3" type="es:S_AMT" maxOccurs="7" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_G43" maxOccurs="500" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G12" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_10" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G14</me:id>  
    <me:title>COUPON SPECIAL PROCESSING</me:title>  
    <me:description>COUPON SPECIAL PROCESSING</me:description>  
    </appinfo></annotation><sequence><element name="S10" type="es:S_G14" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G15</me:id>  
    <me:title>COUPON DISTRIBUTION</me:title>  
    <me:description>COUPON DISTRIBUTION</me:description>  
    </appinfo></annotation><sequence><element name="S15" type="es:S_G15" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LIN</me:id>  
    <me:title>ITEM IDENTIFICATION</me:title>  
    <me:description>ITEM IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G28</me:id>  
    <me:title>LINE ITEM NUMBERS</me:title>  
    <me:description>LINE ITEM NUMBERS</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_G28" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_QTY" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_G51" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>