mapHelper/mapHelper/Repository/EDIFACT/97A/CONDRA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/CONDRA" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/97A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/97A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>CONDRA</me:id>
				<me:title>Drawing Administration</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>97A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Drawing Administration</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="5" me:nodetype="SEG"></element><element name="S3" type="es:S_AUT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_AGR" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_NAD" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_LOC" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_INP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_RCS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EFI</me:id>
				<me:title>External File Link Identification</me:title>
				<me:description>External File Link Identification</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_CED" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="100000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BII</me:id>
				<me:title>Bill Item Identification</me:title>
				<me:description>Bill Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_GIS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_QTY" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_AUT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_AGR" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_INP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_RCS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_LOC" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_DIM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SEQ</me:id>
				<me:title>Sequence Details</me:title>
				<me:description>Sequence Details</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_GIS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>