mapHelper/mapHelper/Repository/EDIFACT/97A/DOCINF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/DOCINF" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/97A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/97A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>DOCINF</me:id>
				<me:title>Documentary Credit Issuance Information</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>97A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Documentary Credit Issuance Information</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="3" me:nodetype="SEG"></element><element name="S4" type="es:S_BUS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="3" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_64" type="me:L_64" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FII</me:id>
				<me:title>Financial Institution Information</me:title>
				<me:description>Financial Institution Information</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_FII" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_RFF" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DTM</me:id>
				<me:title>Date/time/period</me:title>
				<me:description>Date/time/period</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_MOA" maxOccurs="1" me:nodetype="SEG"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PCD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LOC</me:id>
				<me:title>Place/location Identification</me:title>
				<me:description>Place/location Identification</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAI</me:id>
				<me:title>Payment Instructions</me:title>
				<me:description>Payment Instructions</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_PAI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAT</me:id>
				<me:title>Payment Terms Basis</me:title>
				<me:description>Payment Terms Basis</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_PAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_FII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TOD</me:id>
				<me:title>Terms Of Delivery</me:title>
				<me:description>Terms Of Delivery</me:description>
				</appinfo></annotation><sequence><element name="S30" type="es:S_TOD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TSR</me:id>
				<me:title>Transport Service Requirements</me:title>
				<me:description>Transport Service Requirements</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_TSR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_LOC" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>INP</me:id>
				<me:title>Parties To Instruction</me:title>
				<me:description>Parties To Instruction</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_INP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_LOC" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FCA</me:id>
				<me:title>Financial Charges Allocation</me:title>
				<me:description>Financial Charges Allocation</me:description>
				</appinfo></annotation><sequence><element name="S43" type="es:S_FCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_PCD" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_MOA" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_49" type="me:L_49" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_49" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S49" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S52" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S55" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALI</me:id>
				<me:title>Additional Information</me:title>
				<me:description>Additional Information</me:description>
				</appinfo></annotation><sequence><element name="S60" type="es:S_ALI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="3" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_64" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S64" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>