mapHelper/mapHelper/Repository/EDIFACT/97B/MEDPID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/MEDPID" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/97B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/97B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>MEDPID</me:id>
				<me:title>Person Identification Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>97B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Person Identification Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S6" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_CTA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_GIS" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_IHC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_NAT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_HAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_FII" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_CTA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PDI</me:id>
				<me:title>Person Demographic Infomation</me:title>
				<me:description>Person Demographic Infomation</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>COM</me:id>
				<me:title>Communication Contact</me:title>
				<me:description>Communication Contact</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_COM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_CTA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REL</me:id>
				<me:title>Relationship</me:title>
				<me:description>Relationship</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_IHC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_NAT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>