mapHelper/mapHelper/Repository/EDIFACT/97B/MEDRPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/MEDRPT" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/97B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/97B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>MEDRPT</me:id>
				<me:title>Medical Service Report</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>97B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Medical Service Report</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_115" type="me:L_115" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_SPR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_QUA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_EMP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IRQ</me:id>
				<me:title>Information Required</me:title>
				<me:description>Information Required</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_IRQ" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_GIS" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_RFF" maxOccurs="9" me:nodetype="SEG"></element><element name="S17" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_STS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_LAN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_TEM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FCA</me:id>
				<me:title>Financial Charges Allocation</me:title>
				<me:description>Financial Charges Allocation</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_FCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_CIN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_TEM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ATT</me:id>
				<me:title>Attribute</me:title>
				<me:description>Attribute</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_ATT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PNA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_NAT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_HAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_CCI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_79" type="me:L_79" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_98" type="me:L_98" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAS</me:id>
				<me:title>Attendance</me:title>
				<me:description>Attendance</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_PAS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CAV</me:id>
				<me:title>Characteristic Value</me:title>
				<me:description>Characteristic Value</me:description>
				</appinfo></annotation><sequence><element name="S54" type="es:S_CAV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_CIN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>STS</me:id>
				<me:title>Transport Status Report</me:title>
				<me:description>Transport Status Report</me:description>
				</appinfo></annotation><sequence><element name="S60" type="es:S_STS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_RSL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_CCI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_CIN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_69" type="me:L_69" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_69" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RSL</me:id>
				<me:title>Result</me:title>
				<me:description>Result</me:description>
				</appinfo></annotation><sequence><element name="S69" type="es:S_RSL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_CCI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REL</me:id>
				<me:title>Relationship</me:title>
				<me:description>Relationship</me:description>
				</appinfo></annotation><sequence><element name="S72" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CLI</me:id>
				<me:title>Clinical Intervention</me:title>
				<me:description>Clinical Intervention</me:description>
				</appinfo></annotation><sequence><element name="S74" type="es:S_CLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_75" type="me:L_75" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_75" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IMD</me:id>
				<me:title>Item Description</me:title>
				<me:description>Item Description</me:description>
				</appinfo></annotation><sequence><element name="S75" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_DSG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_INP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_79" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SEQ</me:id>
				<me:title>Sequence Details</me:title>
				<me:description>Sequence Details</me:description>
				</appinfo></annotation><sequence><element name="S79" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_PRC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_PAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_TDT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_HAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_91" type="me:L_91" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_91" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CLI</me:id>
				<me:title>Clinical Intervention</me:title>
				<me:description>Clinical Intervention</me:description>
				</appinfo></annotation><sequence><element name="S91" type="es:S_CLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S92" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S93" type="es:S_DSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S94" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S95" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S96" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S97" type="es:S_INP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_98" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S98" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_RSL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S101" type="es:S_CCI" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S102" type="es:S_CIN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S103" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S104" type="es:S_STS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S105" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S106" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S108" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S109" type="es:S_EQD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_110" type="me:L_110" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_112" type="me:L_112" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_110" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REL</me:id>
				<me:title>Relationship</me:title>
				<me:description>Relationship</me:description>
				</appinfo></annotation><sequence><element name="S110" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S111" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_112" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RSL</me:id>
				<me:title>Result</me:title>
				<me:description>Result</me:description>
				</appinfo></annotation><sequence><element name="S112" type="es:S_RSL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S113" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S114" type="es:S_CCI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_115" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S115" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S116" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>