mapHelper/mapHelper/Repository/EDIFACT/97B/SAFHAZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/SAFHAZ" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/97B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/97B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>SAFHAZ</me:id>
				<me:title>Safety And Hazard Data Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>97B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Safety And Hazard Data Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_DOC" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_IMD" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_PIA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_RCS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SFI</me:id>
				<me:title>Safety Information</me:title>
				<me:description>Safety Information</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_SFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PIA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_EQD" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HAN</me:id>
				<me:title>Handling Instructions</me:title>
				<me:description>Handling Instructions</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_HAN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IMD</me:id>
				<me:title>Item Description</me:title>
				<me:description>Item Description</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_PCD" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DGS</me:id>
				<me:title>Dangerous Goods</me:title>
				<me:description>Dangerous Goods</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_DGS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAC</me:id>
				<me:title>Package</me:title>
				<me:description>Package</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_PAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_PCI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CCI</me:id>
				<me:title>Characteristic/class Id</me:title>
				<me:description>Characteristic/class Id</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_CCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_IMD" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_CAV" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_TEM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_RFF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>