mapHelper/mapHelper/Repository/EDIFACT/96A/COARRI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/COARRI" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>COARRI</me:id>
				<me:title>Container Discharge/loading Report</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>96A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Container Discharge/loading Report</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S30" type="es:S_CNT" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_TDT" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_NAD" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_CTA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EQD</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_EQD" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_TMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MEA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_DIM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_TMP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_RNG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_SEL" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_DGS" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_EQA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PIA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="S29" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DAM</me:id>
				<me:title>Damage</me:title>
				<me:description>Damage</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_DAM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_COD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>