mapHelper/mapHelper/Repository/EDIFACT/96A/DELFOR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/DELFOR" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>DELFOR</me:id>
				<me:title>Delivery Schedule Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>96A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Delivery Schedule Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="10" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="S9" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S90" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="S91" type="es:S_CNT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S92" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_LOC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_LOC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PIA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_IMD" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_MEA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_ALI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_GIN" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_GIR" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_LOC" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_SCC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAC</me:id>
				<me:title>Package</me:title>
				<me:description>Package</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_PAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCI</me:id>
				<me:title>Package Identification</me:title>
				<me:description>Package Identification</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_PCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_GIN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QVR</me:id>
				<me:title>Quantity Variances</me:title>
				<me:description>Quantity Variances</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_PIA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_IMD" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_MEA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_ALI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_GIN" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_GIR" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_66" type="me:L_66" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S59" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_SCC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_64" type="me:L_64" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_64" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S64" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_66" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAC</me:id>
				<me:title>Package</me:title>
				<me:description>Package</me:description>
				</appinfo></annotation><sequence><element name="S66" type="es:S_PAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_70" type="me:L_70" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCI</me:id>
				<me:title>Package Identification</me:title>
				<me:description>Package Identification</me:description>
				</appinfo></annotation><sequence><element name="S70" type="es:S_PCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_GIN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S72" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_LOC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_75" type="me:L_75" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_77" type="me:L_77" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_79" type="me:L_79" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_84" type="me:L_84" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_88" type="me:L_88" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_75" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S75" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_77" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S77" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_79" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S79" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_SCC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_82" type="me:L_82" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_82" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S82" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_84" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QVR</me:id>
				<me:title>Quantity Variances</me:title>
				<me:description>Quantity Variances</me:description>
				</appinfo></annotation><sequence><element name="S84" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_86" type="me:L_86" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_86" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S86" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_88" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S88" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>