mapHelper/mapHelper/Repository/EDIFACT/96A/REMADV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/REMADV" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>REMADV</me:id>
				<me:title>Remittance Advice Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>96A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Remittance Advice Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="5" me:nodetype="SEG"></element><element name="S3" type="es:S_RFF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_FII" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PAI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S35" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="S36" type="es:S_MOA" maxOccurs="5" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_RFF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_NAD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AJT</me:id>
				<me:title>Adjustment Details</me:title>
				<me:description>Adjustment Details</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_AJT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>INP</me:id>
				<me:title>Parties To Instruction</me:title>
				<me:description>Parties To Instruction</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_INP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DLI</me:id>
				<me:title>Document Line Identification</me:title>
				<me:description>Document Line Identification</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_DLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PIA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AJT</me:id>
				<me:title>Adjustment Details</me:title>
				<me:description>Adjustment Details</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_AJT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>