mapHelper/mapHelper/Repository/EDIFACT/96A/WKGRRE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/WKGRRE" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/96A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>WKGRRE</me:id>
				<me:title>Work Grant Request Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>96A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Work Grant Request Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="2" me:nodetype="SEG"></element><element name="S3" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="3" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="S14" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_15" type="me:L_15" maxOccurs="200" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_LOC" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_DTM" maxOccurs="5" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="S24" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="3" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_NAT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_GIS" maxOccurs="1" me:nodetype="SEG"></element><element name="S26" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EMP</me:id>
				<me:title>Employment Details</me:title>
				<me:description>Employment Details</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_EMP" maxOccurs="1" me:nodetype="SEG"></element><element name="S30" type="es:S_LOC" maxOccurs="10" me:nodetype="SEG"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ATT</me:id>
				<me:title>Attribute</me:title>
				<me:description>Attribute</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_ATT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SAL</me:id>
				<me:title>Remuneration Type Identification</me:title>
				<me:description>Remuneration Type Identification</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_SAL" maxOccurs="1" me:nodetype="SEG"></element><element name="S34" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ATT</me:id>
				<me:title>Attribute</me:title>
				<me:description>Attribute</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_ATT" maxOccurs="1" me:nodetype="SEG"></element><element name="S37" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_MOA" maxOccurs="1" me:nodetype="SEG"></element><element name="S41" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S43" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_LOC" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>