mapHelper/mapHelper/Repository/EDIFACT/98B/CUSRES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/CUSRES" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>CUSRES</me:id>
				<me:title>Customs Response Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Customs Response Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_TDT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_LOC" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_GIS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_EQD" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S51" type="es:S_CNT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ERP</me:id>
				<me:title>Error Point Details</me:title>
				<me:description>Error Point Details</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_ERP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_ERC" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_MOA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_GIS" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PAC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PCI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_TDT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_GIS" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_MEA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_EQD" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_CUX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_MOA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_GIS" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CST</me:id>
				<me:title>Customs Status Of Goods</me:title>
				<me:description>Customs Status Of Goods</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_CST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_MOA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_GIS" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_MEA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ERP</me:id>
				<me:title>Error Point Details</me:title>
				<me:description>Error Point Details</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_ERP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_ERC" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S52" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>