mapHelper/mapHelper/Repository/EDIFACT/98B/DMRDEF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/DMRDEF" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>DMRDEF</me:id>
				<me:title>Data Maintenance Request Definition</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Data Maintenance Request Definition</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DII" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="9" me:nodetype="SEG"></element><element name="S4" type="es:S_FTX" maxOccurs="99" me:nodetype="SEG"></element><element name="S5" type="es:S_RFF" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_EFI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Identification</me:title>
				<me:description>Party Identification</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_ADR" maxOccurs="1" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_CTA" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MSG</me:id>
				<me:title>Message Type Identification</me:title>
				<me:description>Message Type Identification</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_MSG" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_ATT" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_FTX" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SGU</me:id>
				<me:title>Segment Usage Details</me:title>
				<me:description>Segment Usage Details</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_SGU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GRU</me:id>
				<me:title>Segment Group Usage Details</me:title>
				<me:description>Segment Group Usage Details</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_GRU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FNT</me:id>
				<me:title>Footnote</me:title>
				<me:description>Footnote</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_FNT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_GIR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SEG</me:id>
				<me:title>Segment Identification</me:title>
				<me:description>Segment Identification</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_SEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_ELU" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FNT</me:id>
				<me:title>Footnote</me:title>
				<me:description>Footnote</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_FNT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_GIR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CMP</me:id>
				<me:title>Composite Data Element Identification</me:title>
				<me:description>Composite Data Element Identification</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_CMP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_ELU" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FNT</me:id>
				<me:title>Footnote</me:title>
				<me:description>Footnote</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_FNT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_GIR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ELM</me:id>
				<me:title>Simple Data Element Details</me:title>
				<me:description>Simple Data Element Details</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_ELM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDS</me:id>
				<me:title>Code Set Identification</me:title>
				<me:description>Code Set Identification</me:description>
				</appinfo></annotation><sequence><element name="S43" type="es:S_CDS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDV</me:id>
				<me:title>Code Value Definition</me:title>
				<me:description>Code Value Definition</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_CDV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>