mapHelper/mapHelper/Repository/EDIFACT/98B/IMPDEF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/IMPDEF" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>IMPDEF</me:id>
				<me:title>Edi Implementation Guide Definition</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Edi Implementation Guide Definition</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_MSG" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DII" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_FTX" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Identification</me:title>
				<me:description>Party Identification</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DFN</me:id>
				<me:title>Definition Function</me:title>
				<me:description>Definition Function</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_DFN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GRU</me:id>
				<me:title>Segment Group Usage Details</me:title>
				<me:description>Segment Group Usage Details</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_GRU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SGU</me:id>
				<me:title>Segment Usage Details</me:title>
				<me:description>Segment Usage Details</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_SGU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FNT</me:id>
				<me:title>Footnote</me:title>
				<me:description>Footnote</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_FNT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_GIR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ELU</me:id>
				<me:title>Data Element Usage Details</me:title>
				<me:description>Data Element Usage Details</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_ELU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_ELM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_EDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_GIS" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S30" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ELV</me:id>
				<me:title>Element Value Definition</me:title>
				<me:description>Element Value Definition</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_ELV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDV</me:id>
				<me:title>Code Value Definition</me:title>
				<me:description>Code Value Definition</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_CDV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DRD</me:id>
				<me:title>Data Representation Details</me:title>
				<me:description>Data Representation Details</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_DRD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>