mapHelper/mapHelper/Repository/EDIFACT/98B/INSDES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/INSDES" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>INSDES</me:id>
				<me:title>Instruction To Despatch Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Instruction To Despatch Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="9" me:nodetype="SEG"></element><element name="S3" type="es:S_INP" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S42" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="S43" type="es:S_MOA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_CNT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TOD</me:id>
				<me:title>Terms Of Delivery</me:title>
				<me:description>Terms Of Delivery</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_TOD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LOC</me:id>
				<me:title>Place/location Identification</me:title>
				<me:description>Place/location Identification</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EQD</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_EQD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_MEA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_EQA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HAN</me:id>
				<me:title>Handling Instructions</me:title>
				<me:description>Handling Instructions</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_HAN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_PIA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_IMD" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_QTY" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_GIN" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_INP" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_MOA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_LOC" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCI</me:id>
				<me:title>Package Identification</me:title>
				<me:description>Package Identification</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_PCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_GIN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>