mapHelper/mapHelper/Repository/EDIFACT/98B/MEDRUC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/MEDRUC" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>MEDRUC</me:id>
				<me:title>Medical Resource Usage And Cost Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Medical Resource Usage And Cost Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_CNT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_80" type="me:L_80" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_108" type="me:L_108" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Identification</me:title>
				<me:description>Party Identification</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_CTA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_SPR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_EMP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_QUA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_RCS" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_FII" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AGR</me:id>
				<me:title>Agreement Identification</me:title>
				<me:description>Agreement Identification</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_AGR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ICD</me:id>
				<me:title>Insurance Cover Description</me:title>
				<me:description>Insurance Cover Description</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_ICD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FCA</me:id>
				<me:title>Financial Charges Allocation</me:title>
				<me:description>Financial Charges Allocation</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_FCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_AGR" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RCS</me:id>
				<me:title>Requirements And Conditions</me:title>
				<me:description>Requirements And Conditions</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Identification</me:title>
				<me:description>Party Identification</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_NAT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_LAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_HAN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRC</me:id>
				<me:title>Process Identification</me:title>
				<me:description>Process Identification</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_PRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_CIN" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_PNA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_QTY" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_PCD" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_63" type="me:L_63" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAS</me:id>
				<me:title>Attendance</me:title>
				<me:description>Attendance</me:description>
				</appinfo></annotation><sequence><element name="S55" type="es:S_PAS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S59" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RCS</me:id>
				<me:title>Requirements And Conditions</me:title>
				<me:description>Requirements And Conditions</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_63" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CLI</me:id>
				<me:title>Clinical Intervention</me:title>
				<me:description>Clinical Intervention</me:description>
				</appinfo></annotation><sequence><element name="S63" type="es:S_CLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_CIN" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_PNA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_QTY" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_PCD" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_PAC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_76" type="me:L_76" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_78" type="me:L_78" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S74" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_76" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RCS</me:id>
				<me:title>Requirements And Conditions</me:title>
				<me:description>Requirements And Conditions</me:description>
				</appinfo></annotation><sequence><element name="S76" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_78" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EQD</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S78" type="es:S_EQD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_80" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TMD</me:id>
				<me:title>Transport Movement Details</me:title>
				<me:description>Transport Movement Details</me:description>
				</appinfo></annotation><sequence><element name="S80" type="es:S_TMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_84" type="me:L_84" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_84" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S84" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_PNA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_CIN" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S91" type="es:S_QTY" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_92" type="me:L_92" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_94" type="me:L_94" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_96" type="me:L_96" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_92" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ADR</me:id>
				<me:title>Address</me:title>
				<me:description>Address</me:description>
				</appinfo></annotation><sequence><element name="S92" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S93" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_94" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TSR</me:id>
				<me:title>Transport Service Requirements</me:title>
				<me:description>Transport Service Requirements</me:description>
				</appinfo></annotation><sequence><element name="S94" type="es:S_TSR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S95" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_96" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TCC</me:id>
				<me:title>Transport Charge/rate Calculations</me:title>
				<me:description>Transport Charge/rate Calculations</me:description>
				</appinfo></annotation><sequence><element name="S96" type="es:S_TCC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S97" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S98" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S101" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S102" type="es:S_QTY" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S103" type="es:S_PCD" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_104" type="me:L_104" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_106" type="me:L_106" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_104" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S104" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S105" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_106" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TSR</me:id>
				<me:title>Transport Service Requirements</me:title>
				<me:description>Transport Service Requirements</me:description>
				</appinfo></annotation><sequence><element name="S106" type="es:S_TSR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_108" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S108" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S109" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>