mapHelper/mapHelper/Repository/EDIFACT/98B/PAYEXT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/PAYEXT" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>PAYEXT</me:id>
				<me:title>Extended Payment Order Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Extended Payment Order Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_BUS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_PAI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_FCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="4" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_MOA" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FII</me:id>
				<me:title>Financial Institution Information</me:title>
				<me:description>Financial Institution Information</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_FII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>INP</me:id>
				<me:title>Parties And Instruction</me:title>
				<me:description>Parties And Instruction</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_INP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_LOC" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRC</me:id>
				<me:title>Process Identification</me:title>
				<me:description>Process Identification</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_PRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_RFF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_NAD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AJT</me:id>
				<me:title>Adjustment Details</me:title>
				<me:description>Adjustment Details</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_AJT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DLI</me:id>
				<me:title>Document Line Identification</me:title>
				<me:description>Document Line Identification</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_DLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_PIA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AJT</me:id>
				<me:title>Adjustment Details</me:title>
				<me:description>Adjustment Details</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_AJT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S52" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>