mapHelper/mapHelper/Repository/EDIFACT/98B/RECADV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/RECADV" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>RECADV</me:id>
				<me:title>Receiving Advice Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Receiving Advice Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="10" me:nodetype="SEG"></element><element name="S3" type="es:S_ALI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S66" type="es:S_CNT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_NAD" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_LOC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TOD</me:id>
				<me:title>Terms Of Delivery</me:title>
				<me:description>Terms Of Delivery</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_TOD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LOC</me:id>
				<me:title>Place/location Identification</me:title>
				<me:description>Place/location Identification</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_CDI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_CDI" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EQD</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_EQD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SEL</me:id>
				<me:title>Seal Number</me:title>
				<me:description>Seal Number</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_SEL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_CDI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EQA</me:id>
				<me:title>Attached Equipment</me:title>
				<me:description>Attached Equipment</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_EQA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CPS</me:id>
				<me:title>Consignment Packing Sequence</me:title>
				<me:description>Consignment Packing Sequence</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_CPS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAC</me:id>
				<me:title>Package</me:title>
				<me:description>Package</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_PAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCI</me:id>
				<me:title>Package Identification</me:title>
				<me:description>Package Identification</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_PCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIN</me:id>
				<me:title>Goods Identity Number</me:title>
				<me:description>Goods Identity Number</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_GIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_PIA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_IMD" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_QTY" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_QVR" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_PRI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_51" type="me:L_51" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_51" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S51" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIN</me:id>
				<me:title>Goods Identity Number</me:title>
				<me:description>Goods Identity Number</me:description>
				</appinfo></annotation><sequence><element name="S53" type="es:S_GIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S54" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S56" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCI</me:id>
				<me:title>Package Identification</me:title>
				<me:description>Package Identification</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_PCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_63" type="me:L_63" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_63" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIN</me:id>
				<me:title>Goods Identity Number</me:title>
				<me:description>Goods Identity Number</me:description>
				</appinfo></annotation><sequence><element name="S63" type="es:S_GIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_64" type="me:L_64" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_64" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDI</me:id>
				<me:title>Physical Or Logical State</me:title>
				<me:description>Physical Or Logical State</me:description>
				</appinfo></annotation><sequence><element name="S64" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_INP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>