mapHelper/mapHelper/Repository/EDIFACT/98B/SSRECH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/SSRECH" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>SSRECH</me:id>
				<me:title>Worker's Insurance History Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Worker's Insurance History Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_GIS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_6" type="me:L_6" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" maxOccurs="99" me:nodetype="LOOP"></element><element name="S15" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" maxOccurs="6" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="S27" type="es:S_FTX" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Identification</me:title>
				<me:description>Party Identification</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_GIR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IND</me:id>
				<me:title>Index Details</me:title>
				<me:description>Index Details</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_IND" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="6" me:nodetype="SEG"></element><element name="S11" type="es:S_COT" maxOccurs="3" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EMP</me:id>
				<me:title>Employment Details</me:title>
				<me:description>Employment Details</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_EMP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Identification</me:title>
				<me:description>Party Identification</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S17" type="es:S_NAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_ADR" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_ATT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DTM</me:id>
				<me:title>Date/time/period</me:title>
				<me:description>Date/time/period</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PDI</me:id>
				<me:title>Person Demographic Infomation</me:title>
				<me:description>Person Demographic Infomation</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>COT</me:id>
				<me:title>Contribution Details</me:title>
				<me:description>Contribution Details</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_COT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_CNT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>