mapHelper/mapHelper/Repository/EDIFACT/98B/STLRPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/STLRPT" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98B/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>STLRPT</me:id>
				<me:title>Settlement Transaction Reporting</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98B</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Settlement Transaction Reporting</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="2" me:nodetype="SEG"></element><element name="S3" type="es:S_NAD" maxOccurs="1" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_7" type="me:L_7" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_MOA" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DTM</me:id>
				<me:title>Date/time/period</me:title>
				<me:description>Date/time/period</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_13" type="me:L_13" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_MOA" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S14" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" maxOccurs="99" me:nodetype="LOOP"></element><element name="S63" type="es:S_CNT" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BUS</me:id>
				<me:title>Business Function</me:title>
				<me:description>Business Function</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_BUS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" maxOccurs="99999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_QVR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_LIN" maxOccurs="1" me:nodetype="SEG"></element><element name="S25" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_NAD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_GIS" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_ALC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_TAX" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_PIA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAT</me:id>
				<me:title>Payment Terms Basis</me:title>
				<me:description>Payment Terms Basis</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_PAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_AGR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_GIS" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_IMD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIR</me:id>
				<me:title>Related Identification Numbers</me:title>
				<me:description>Related Identification Numbers</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_GIR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_IMD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_GIN" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SEQ</me:id>
				<me:title>Sequence Details</me:title>
				<me:description>Sequence Details</me:description>
				</appinfo></annotation><sequence><element name="S53" type="es:S_SEQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_GIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_RFF" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_TDT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>