mapHelper/mapHelper/Repository/EDI/003050/110.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/110" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>110</me:id>
				<me:title>Air Freight Details And Invoice</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>IA</me:functionalGroup>
				<me:description>Air Freight Details And Invoice</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B3" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B3A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_C2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_ITD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="3" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S33" type="es:S_L3" maxOccurs="1" me:nodetype="SEG"></element><element name="S34" type="es:S_ACS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="S19" type="es:S_P1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_R1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_POD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_V9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_RMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_G47" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_26" type="me:L_26" maxOccurs="4" me:nodetype="LOOP"></element><element name="S30" type="es:S_L4" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_L10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_SL1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>L5</me:id>
				<me:title>Description</me:title>
				<me:description>Description</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_L5" maxOccurs="1" me:nodetype="SEG"></element><element name="S27" type="es:S_L0" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="30" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>L1</me:id>
				<me:title>Rate And Charges</me:title>
				<me:description>Rate And Charges</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_L1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>