mapHelper/mapHelper/Repository/EDI/003050/130.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/130" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>130</me:id>
				<me:title>Student Educational Record (Transcript)</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>ED</me:functionalGroup>
				<me:description>Student Educational Record (Transcript)</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_ERP" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_REF" maxOccurs="10" me:nodetype="SEG"></element><element name="S4" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_IND" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_RAP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PCL" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_NTE" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="15" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_EMS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_IN2" maxOccurs="10" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SST</me:id>
				<me:title>Student Academic Status</me:title>
				<me:description>Student Academic Status</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_SST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_SSE" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TST</me:id>
				<me:title>Test Score Record</me:title>
				<me:description>Test Score Record</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_TST" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SBT</me:id>
				<me:title>Subtest</me:title>
				<me:description>Subtest</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_SBT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_SRE" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_NTE" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SUM</me:id>
				<me:title>Academic Summary</me:title>
				<me:description>Academic Summary</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_HS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_IMM" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S49" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="30" me:nodetype="LOOP"></element><element name="S53" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HC</me:id>
				<me:title>Health Condition</me:title>
				<me:description>Health Condition</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_HC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SP</me:id>
				<me:title>Special Education Program</me:title>
				<me:description>Special Education Program</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_SP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_OP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_SSE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>OP</me:id>
				<me:title>Other Programs And Services</me:title>
				<me:description>Other Programs And Services</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_OP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_OPS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_OPX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SES</me:id>
				<me:title>Academic Session Header</me:title>
				<me:description>Academic Session Header</me:description>
				</appinfo></annotation><sequence><element name="S54" type="es:S_SES" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_71" type="me:L_71" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SUM</me:id>
				<me:title>Academic Summary</me:title>
				<me:description>Academic Summary</me:description>
				</appinfo></annotation><sequence><element name="S59" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CRS</me:id>
				<me:title>Course Record</me:title>
				<me:description>Course Record</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_CRS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_CSU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_LUI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_RAP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_69" type="me:L_69" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_69" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MKS</me:id>
				<me:title>Marks Awarded</me:title>
				<me:description>Marks Awarded</me:description>
				</appinfo></annotation><sequence><element name="S69" type="es:S_MKS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_LUI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_71" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DEG</me:id>
				<me:title>Degree Record</me:title>
				<me:description>Degree Record</me:description>
				</appinfo></annotation><sequence><element name="S71" type="es:S_DEG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_SUM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_FOS" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_NTE" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>