mapHelper/mapHelper/Repository/EDI/003050/151.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/151" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>151</me:id>
				<me:title>Electronic Filing Of Tax Return Data Ack</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>TA</me:functionalGroup>
				<me:description>Electronic Filing Of Tax Return Data Ack</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BTA" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_BTI" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PBI" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="100000" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TFS</me:id>
				<me:title>Tax Form</me:title>
				<me:description>Tax Form</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_TFS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PBI" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="100000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FGS</me:id>
				<me:title>Form Group</me:title>
				<me:description>Form Group</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_FGS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_PBI" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>