mapHelper/mapHelper/Repository/EDI/003050/204.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/204" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>204</me:id>
				<me:title>Motor Carrier Shipment Information</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>SM</me:functionalGroup>
				<me:description>Motor Carrier Shipment Information</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B2" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_Y6" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_C2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_ITD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N9" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_MAN" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G62" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_R3" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_H6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="S81" type="es:S_L3" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N7</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N7A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N7B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_M7" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPO</me:id>
				<me:title>Shipment Purchase Order Detail</me:title>
				<me:description>Shipment Purchase Order Detail</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_SPO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>S5</me:id>
				<me:title>Stop Off Details</me:title>
				<me:description>Stop Off Details</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_S5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_LAD" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_MAN" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_H6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPO</me:id>
				<me:title>Shipment Purchase Order Detail</me:title>
				<me:description>Shipment Purchase Order Detail</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_SPO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N7</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S43" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N7A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_N7B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_M7" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_MAN" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_L5" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_LAD" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_H1" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_H2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_L0" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_L1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_L4" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_L7" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_70" type="me:L_70" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_79" type="me:L_79" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G61</me:id>
				<me:title>Contact</me:title>
				<me:description>Contact</me:description>
				</appinfo></annotation><sequence><element name="S59" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LH1</me:id>
				<me:title>Hazardous Identification Information</me:title>
				<me:description>Hazardous Identification Information</me:description>
				</appinfo></annotation><sequence><element name="S62" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S70" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_75" type="me:L_75" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_75" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CD3</me:id>
				<me:title>Carton (Package) Detail</me:title>
				<me:description>Carton (Package) Detail</me:description>
				</appinfo></annotation><sequence><element name="S75" type="es:S_CD3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_H6" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_L9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_79" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPO</me:id>
				<me:title>Shipment Purchase Order Detail</me:title>
				<me:description>Shipment Purchase Order Detail</me:description>
				</appinfo></annotation><sequence><element name="S79" type="es:S_SPO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>