mapHelper/mapHelper/Repository/EDI/003050/214.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/214" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>214</me:id>
				<me:title>Transportation Carrier Shipment Status M</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>QM</me:functionalGroup>
				<me:description>Transportation Carrier Shipment Status M</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B10" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N9" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_MAN" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S13" type="es:S_R3" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_G62" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_Q5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_MAN" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_Q7" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_H3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_G86" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_Q6" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CD3</me:id>
				<me:title>Carton (Package) Detail</me:title>
				<me:description>Carton (Package) Detail</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_CD3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_Q5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_Q7" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_Q6" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRF</me:id>
				<me:title>Purchase Order Reference</me:title>
				<me:description>Purchase Order Reference</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CD3</me:id>
				<me:title>Carton (Package) Detail</me:title>
				<me:description>Carton (Package) Detail</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_CD3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_Q5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPO</me:id>
				<me:title>Shipment Purchase Order Detail</me:title>
				<me:description>Shipment Purchase Order Detail</me:description>
				</appinfo></annotation><sequence><element name="S43" type="es:S_SPO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Numbers</me:title>
				<me:description>Reference Numbers</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_Q5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_M7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_BLR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_MAN" maxOccurs="300" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_TSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPO</me:id>
				<me:title>Shipment Purchase Order Detail</me:title>
				<me:description>Shipment Purchase Order Detail</me:description>
				</appinfo></annotation><sequence><element name="S56" type="es:S_SPO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_SDQ" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>