mapHelper/mapHelper/Repository/EDI/003050/622.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/622" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>622</me:id>
				<me:title>Intermodal Ramp Activity</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>IP</me:functionalGroup>
				<me:description>Intermodal Ramp Activity</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_ZC1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S2" type="es:S_Q5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>W2A</me:id>
				<me:title>Equipment Information</me:title>
				<me:description>Equipment Information</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_W2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_NA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N9" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_M7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_Q5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PRO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_V1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_R4" maxOccurs="8" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S15" type="es:S_H3" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>