mapHelper/mapHelper/Repository/EDI/003050/805.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/805" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>805</me:id>
				<me:title>Contract Pricing Proposal</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>CP</me:functionalGroup>
				<me:description>Contract Pricing Proposal</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BCP" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_SPI" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_REF" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S25" type="es:S_PL" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_G61" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CBS</me:id>
				<me:title>Cost Breakdown Structure</me:title>
				<me:description>Cost Breakdown Structure</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_CBS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_JIL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CB1</me:id>
				<me:title>Contract And Cost Accounting Standards D</me:title>
				<me:description>Contract And Cost Accounting Standards D</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_CB1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HL</me:id>
				<me:title>Hierarchical Level</me:title>
				<me:description>Hierarchical Level</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_HL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PD</me:id>
				<me:title>Pricing Data</me:title>
				<me:description>Pricing Data</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_PD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_SPI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_PDD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_AMT" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>