mapHelper/mapHelper/Repository/EDI/003050/833.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/833" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>833</me:id>
				<me:title>Mortgage Credit Report Order</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>ML</me:functionalGroup>
				<me:description>Mortgage Credit Report Order</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="200" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N4</me:id>
				<me:title>Geographic Location</me:title>
				<me:description>Geographic Location</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CRO</me:id>
				<me:title>Credit Report Order Details</me:title>
				<me:description>Credit Report Order Details</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_CRO" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_K2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_LRQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" maxOccurs="2" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_NX2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S26" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_AIN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PPY" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_CAI" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_CIV" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_YNQ" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_QTY" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" maxOccurs="30" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AMT</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REA</me:id>
				<me:title>Real Estate Property Information</me:title>
				<me:description>Real Estate Property Information</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_REA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_FPT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_AMT" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_NX2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S43" type="es:S_IN2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_ACT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_NX1" maxOccurs="1" me:nodetype="SEG"></element><element name="S48" type="es:S_NX2" maxOccurs="30" me:nodetype="SEG"></element><element name="S49" type="es:S_ARS" maxOccurs="1" me:nodetype="SEG"></element><element name="S50" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S52" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_65" type="me:L_65" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_71" type="me:L_71" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EMP</me:id>
				<me:title>Employer</me:title>
				<me:description>Employer</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_EMP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_QTY" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EMS</me:id>
				<me:title>Employment Position</me:title>
				<me:description>Employment Position</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_AIN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_65" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FAA</me:id>
				<me:title>Financial Asset Account</me:title>
				<me:description>Financial Asset Account</me:description>
				</appinfo></annotation><sequence><element name="S65" type="es:S_FAA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_AIN" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_68" type="me:L_68" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_68" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S68" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_IN2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_FPT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_71" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CDA</me:id>
				<me:title>Consumer Credit Account</me:title>
				<me:description>Consumer Credit Account</me:description>
				</appinfo></annotation><sequence><element name="S71" type="es:S_CDA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_PPY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S74" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_IN2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_FPT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>