mapHelper/mapHelper/Repository/EDI/003050/841.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/841" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>841</me:id>
				<me:title>Specifications/technical Information</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>SP</me:functionalGroup>
				<me:description>Specifications/technical Information</me:description>				
			</appinfo></annotation><sequence>
<element name="L_1" type="me:L_1" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_1" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPI</me:id>
				<me:title>Specification Identifier</me:title>
				<me:description>Specification Identifier</me:description>
				</appinfo></annotation><sequence><element name="S1" type="es:S_SPI" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_RDT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_X1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_X2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_X7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Numbers</me:title>
				<me:description>Reference Numbers</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HL</me:id>
				<me:title>Hierarchical Level</me:title>
				<me:description>Hierarchical Level</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPI</me:id>
				<me:title>Specification Identifier</me:title>
				<me:description>Specification Identifier</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_SPI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_RDT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PRR" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PRT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_PRS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PID</me:id>
				<me:title>Product/item Description</me:title>
				<me:description>Product/item Description</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_PID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PKD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_UIT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_PWK" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PKG</me:id>
				<me:title>Marking</me:title>
				<me:description>Marking</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_PKG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Numbers</me:title>
				<me:description>Reference Numbers</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_TMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_MEA" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S42" type="es:S_PSD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_SPS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EFI</me:id>
				<me:title>Electronic Format Identification</me:title>
				<me:description>Electronic Format Identification</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_BIN" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CID</me:id>
				<me:title>Characteristic/class Id</me:title>
				<me:description>Characteristic/class Id</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_CID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_UIT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_TMD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_PSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_CSS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_SPS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S55" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>STA</me:id>
				<me:title>Statistics</me:title>
				<me:description>Statistics</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_STA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CSF</me:id>
				<me:title>Conditional Sampling Frequency</me:title>
				<me:description>Conditional Sampling Frequency</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_CSF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_63" type="me:L_63" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S66" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_63" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CID</me:id>
				<me:title>Characteristic/class Id</me:title>
				<me:description>Characteristic/class Id</me:description>
				</appinfo></annotation><sequence><element name="S63" type="es:S_CID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_STA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EFI</me:id>
				<me:title>Electronic Format Identification</me:title>
				<me:description>Electronic Format Identification</me:description>
				</appinfo></annotation><sequence><element name="S67" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_BIN" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType></schema>