mapHelper/mapHelper/Repository/EDI/003050/872.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/872" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>872</me:id>
				<me:title>Residential Mortgage Insurance Applicati</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>PM</me:functionalGroup>
				<me:description>Residential Mortgage Insurance Applicati</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N4</me:id>
				<me:title>Geographic Location</me:title>
				<me:description>Geographic Location</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_REF" maxOccurs="12" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MII</me:id>
				<me:title>Mortgage Insurance Information</me:title>
				<me:description>Mortgage Insurance Information</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_MII" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_LRQ" maxOccurs="1" me:nodetype="SEG"></element><element name="S17" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_PEX" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_LN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S20" type="es:S_RLD" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_PRD" maxOccurs="1" me:nodetype="SEG"></element><element name="S22" type="es:S_PAY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_RAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_39" type="me:L_39" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" maxOccurs="12" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REA</me:id>
				<me:title>Real Estate Property Information</me:title>
				<me:description>Real Estate Property Information</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_REA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_AMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MCD</me:id>
				<me:title>Mortgage Closing Data</me:title>
				<me:description>Mortgage Closing Data</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_MCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_AMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BUY</me:id>
				<me:title>Loan Buydown</me:title>
				<me:description>Loan Buydown</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_BUY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_TBA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRJ</me:id>
				<me:title>Multifamily Housing Project</me:title>
				<me:description>Multifamily Housing Project</me:description>
				</appinfo></annotation><sequence><element name="S30" type="es:S_PRJ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PWK</me:id>
				<me:title>Paperwork</me:title>
				<me:description>Paperwork</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_NX1" maxOccurs="1" me:nodetype="SEG"></element><element name="S40" type="es:S_NX2" maxOccurs="30" me:nodetype="SEG"></element><element name="L_41" type="me:L_41" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAS</me:id>
				<me:title>Property Appraisal Summary</me:title>
				<me:description>Property Appraisal Summary</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_PAS" maxOccurs="1" me:nodetype="SEG"></element><element name="S42" type="es:S_N1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_MSG" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S46" type="es:S_IN2" maxOccurs="10" me:nodetype="SEG"></element><element name="S47" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_BFS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>