mapHelper/mapHelper/Repository/EDI/003050/875.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/875" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>875</me:id>
				<me:title>Grocery Products Purchase Order</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>OG</me:functionalGroup>
				<me:description>Grocery Products Purchase Order</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_G50" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_G66" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_G23" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S21" type="es:S_G76" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G72</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_G72" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_G73" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G68</me:id>
				<me:title>Line Item Detail - Product</me:title>
				<me:description>Line Item Detail - Product</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_G68" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_G70" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_G23" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G72</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_G72" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_G73" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>