mapHelper/mapHelper/Repository/EDI/003050/879.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/879" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>879</me:id>
				<me:title>Price Change</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>QG</me:functionalGroup>
				<me:description>Price Change</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_G91" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="999" me:nodetype="LOOP"></element><element name="S6" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G36" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_G26" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_G43" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_G62" maxOccurs="10" me:nodetype="SEG"></element><element name="S13" type="es:S_G93" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G28</me:id>
				<me:title>Line Item Numbers</me:title>
				<me:description>Line Item Numbers</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_G28" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_G20" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_G26" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_G43" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_G62" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_G46" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_SAC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G40</me:id>
				<me:title>Bracket Price</me:title>
				<me:description>Bracket Price</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_G40" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_G46" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>