mapHelper/mapHelper/Repository/EDI/003050/880.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/880" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>880</me:id>
				<me:title>Grocery Products Invoice</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>GP</me:functionalGroup>
				<me:description>Grocery Products Invoice</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_G01" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_G27" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_G23" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G25" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S24" type="es:S_G31" maxOccurs="1" me:nodetype="SEG"></element><element name="S25" type="es:S_G33" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G72</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_G72" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_G73" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G17</me:id>
				<me:title>Item Detail - Invoice</me:title>
				<me:description>Item Detail - Invoice</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_G17" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_G19" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_G20" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N9" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_G23" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_G25" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>G72</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_G72" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_G73" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>