mapHelper/mapHelper/Repository/EDI/003050/943.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/943" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/003050/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/003050/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>943</me:id>
				<me:title>Warehouse Stock Transfer Shipment Advice</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>003050</me:ediversion>
				<me:functionalGroup>AR</me:functionalGroup>
				<me:description>Warehouse Stock Transfer Shipment Advice</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_W06" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="10" me:nodetype="LOOP"></element><element name="S6" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_W27" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_W28" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_W10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S17" type="es:S_W03" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>W04</me:id>
				<me:title>Item Detail Total</me:title>
				<me:description>Item Detail Total</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_W04" maxOccurs="1" me:nodetype="SEG"></element><element name="S14" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N9" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_W20" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>