mapHelper/mapHelper/Repository/EDIFACT/98A/CONEST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/CONEST" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>CONEST</me:id>
				<me:title>Establishment Of Contract Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Establishment Of Contract Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_AUT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_AGR" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="S71" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S108" type="es:S_CNT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IND</me:id>
				<me:title>Index Details</me:title>
				<me:description>Index Details</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_IND" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BII</me:id>
				<me:title>Bill Item Identification</me:title>
				<me:description>Bill Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_IMD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BII</me:id>
				<me:title>Bill Item Identification</me:title>
				<me:description>Bill Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_GIS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_APR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_ALI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_QTY" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_RTE" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_AGR" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_GIS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCD</me:id>
				<me:title>Percentage Details</me:title>
				<me:description>Percentage Details</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RCS</me:id>
				<me:title>Requirements And Conditions</me:title>
				<me:description>Requirements And Conditions</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ARD</me:id>
				<me:title>Amounts Relationship Details</me:title>
				<me:description>Amounts Relationship Details</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_ARD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_MOA" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_LOC" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_ALI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCD</me:id>
				<me:title>Percentage Details</me:title>
				<me:description>Percentage Details</me:description>
				</appinfo></annotation><sequence><element name="S52" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S54" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RTE</me:id>
				<me:title>Rate Details</me:title>
				<me:description>Rate Details</me:description>
				</appinfo></annotation><sequence><element name="S56" type="es:S_RTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S60" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_LOC" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_FII" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_65" type="me:L_65" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_69" type="me:L_69" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_65" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S65" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S67" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_69" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S69" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BII</me:id>
				<me:title>Bill Item Identification</me:title>
				<me:description>Bill Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S72" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_GIS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_75" type="me:L_75" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_77" type="me:L_77" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_80" type="me:L_80" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_84" type="me:L_84" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="L_91" type="me:L_91" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_94" type="me:L_94" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_97" type="me:L_97" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_104" type="me:L_104" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_75" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S75" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_77" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DIM</me:id>
				<me:title>Dimensions</me:title>
				<me:description>Dimensions</me:description>
				</appinfo></annotation><sequence><element name="S77" type="es:S_DIM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_APR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_80" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S80" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_81" type="me:L_81" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_81" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IMD</me:id>
				<me:title>Item Description</me:title>
				<me:description>Item Description</me:description>
				</appinfo></annotation><sequence><element name="S81" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_RFF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_GIS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_84" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S84" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_GIS" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_APR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_87" type="me:L_87" minOccurs="0" maxOccurs="3" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_87" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRI</me:id>
				<me:title>Price Details</me:title>
				<me:description>Price Details</me:description>
				</appinfo></annotation><sequence><element name="S87" type="es:S_PRI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_GIS" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_89" type="me:L_89" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_89" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ARD</me:id>
				<me:title>Amounts Relationship Details</me:title>
				<me:description>Amounts Relationship Details</me:description>
				</appinfo></annotation><sequence><element name="S89" type="es:S_ARD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_91" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S91" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S92" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S93" type="es:S_LOC" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_94" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RCS</me:id>
				<me:title>Requirements And Conditions</me:title>
				<me:description>Requirements And Conditions</me:description>
				</appinfo></annotation><sequence><element name="S94" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S95" type="es:S_BII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S96" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_97" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S97" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S98" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S101" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_102" type="me:L_102" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_102" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCD</me:id>
				<me:title>Percentage Details</me:title>
				<me:description>Percentage Details</me:description>
				</appinfo></annotation><sequence><element name="S102" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S103" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_104" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IMD</me:id>
				<me:title>Item Description</me:title>
				<me:description>Item Description</me:description>
				</appinfo></annotation><sequence><element name="S104" type="es:S_IMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S105" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S106" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_PRI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>