mapHelper/mapHelper/Repository/EDIFACT/98A/ENTREC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/ENTREC" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>ENTREC</me:id>
				<me:title>Accounting Entries Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Accounting Entries Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="99" me:nodetype="SEG"></element><element name="S3" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_CUX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" maxOccurs="999" me:nodetype="LOOP"></element><element name="S39" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_NAD" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CCI</me:id>
				<me:title>Characteristic/class Id</me:title>
				<me:description>Characteristic/class Id</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_CCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_CAV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DTM</me:id>
				<me:title>Date/time/period</me:title>
				<me:description>Date/time/period</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RJL</me:id>
				<me:title>Accounting Journal Identification</me:title>
				<me:description>Accounting Journal Identification</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_RJL" maxOccurs="1" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" maxOccurs="99999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_QTY" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_MOA" maxOccurs="9" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_RFF" maxOccurs="1" me:nodetype="SEG"></element><element name="S19" type="es:S_FTX" maxOccurs="1" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_LIN" maxOccurs="1" me:nodetype="SEG"></element><element name="S21" type="es:S_CPT" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PAI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_QTY" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_TAX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_FII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_CUX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_MOA" maxOccurs="9" me:nodetype="SEG"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CCI</me:id>
				<me:title>Characteristic/class Id</me:title>
				<me:description>Characteristic/class Id</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_CCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_CAV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_QTY" maxOccurs="1" me:nodetype="SEG"></element><element name="S36" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_MOA" maxOccurs="9" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_QTY" maxOccurs="1" me:nodetype="SEG"></element><element name="S41" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_MOA" maxOccurs="9" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>