mapHelper/mapHelper/Repository/EDIFACT/98A/FINPAY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/FINPAY" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>FINPAY</me:id>
				<me:title>Multiple Interbank Funds Transfer Messag</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Multiple Interbank Funds Transfer Messag</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_BUS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" maxOccurs="9" me:nodetype="LOOP"></element><element name="S103" type="es:S_CNT" maxOccurs="5" me:nodetype="SEG"></element><element name="L_104" type="me:L_104" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_106" type="me:L_106" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FII</me:id>
				<me:title>Financial Institution Information</me:title>
				<me:description>Financial Institution Information</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_FII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Line Item</me:title>
				<me:description>Line Item</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_LIN" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_BUS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_DTM" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="3" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FII</me:id>
				<me:title>Financial Institution Information</me:title>
				<me:description>Financial Institution Information</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_FII" maxOccurs="1" me:nodetype="SEG"></element><element name="S13" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_MOA" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FCA</me:id>
				<me:title>Financial Charges Allocation</me:title>
				<me:description>Financial Charges Allocation</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_FCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>INP</me:id>
				<me:title>Parties And Instruction</me:title>
				<me:description>Parties And Instruction</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_INP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_LOC" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SEQ</me:id>
				<me:title>Sequence Details</me:title>
				<me:description>Sequence Details</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_SEQ" maxOccurs="1" me:nodetype="SEG"></element><element name="S42" type="es:S_BUS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DTM" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_44" type="me:L_44" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element><element name="L_49" type="me:L_49" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_51" type="me:L_51" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_64" type="me:L_64" minOccurs="0" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_78" type="me:L_78" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FII</me:id>
				<me:title>Financial Institution Information</me:title>
				<me:description>Financial Institution Information</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_FII" maxOccurs="1" me:nodetype="SEG"></element><element name="S45" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_49" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAI</me:id>
				<me:title>Payment Instructions</me:title>
				<me:description>Payment Instructions</me:description>
				</appinfo></annotation><sequence><element name="S49" type="es:S_PAI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_51" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S51" type="es:S_MOA" maxOccurs="1" me:nodetype="SEG"></element><element name="S52" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S55" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_LOC" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_RCS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_FTX" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_64" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>INP</me:id>
				<me:title>Parties And Instruction</me:title>
				<me:description>Parties And Instruction</me:description>
				</appinfo></annotation><sequence><element name="S64" type="es:S_INP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FCA</me:id>
				<me:title>Financial Charges Allocation</me:title>
				<me:description>Financial Charges Allocation</me:description>
				</appinfo></annotation><sequence><element name="S67" type="es:S_FCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_69" type="me:L_69" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_69" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ALC</me:id>
				<me:title>Allowance Or Charge</me:title>
				<me:description>Allowance Or Charge</me:description>
				</appinfo></annotation><sequence><element name="S69" type="es:S_ALC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TAX</me:id>
				<me:title>Duty/tax/fee Details</me:title>
				<me:description>Duty/tax/fee Details</me:description>
				</appinfo></annotation><sequence><element name="S74" type="es:S_TAX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_MOA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_78" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRC</me:id>
				<me:title>Process Identification</me:title>
				<me:description>Process Identification</me:description>
				</appinfo></annotation><sequence><element name="S78" type="es:S_PRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_80" type="me:L_80" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_101" type="me:L_101" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_80" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S80" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_RFF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_NAD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_85" type="me:L_85" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_87" type="me:L_87" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_91" type="me:L_91" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_85" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S85" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_87" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AJT</me:id>
				<me:title>Adjustment Details</me:title>
				<me:description>Adjustment Details</me:description>
				</appinfo></annotation><sequence><element name="S87" type="es:S_AJT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_91" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DLI</me:id>
				<me:title>Document Line Identification</me:title>
				<me:description>Document Line Identification</me:description>
				</appinfo></annotation><sequence><element name="S91" type="es:S_DLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S92" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S93" type="es:S_PIA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S94" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_95" type="me:L_95" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_97" type="me:L_97" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_95" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CUX</me:id>
				<me:title>Currencies</me:title>
				<me:description>Currencies</me:description>
				</appinfo></annotation><sequence><element name="S95" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S96" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_97" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AJT</me:id>
				<me:title>Adjustment Details</me:title>
				<me:description>Adjustment Details</me:description>
				</appinfo></annotation><sequence><element name="S97" type="es:S_AJT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S98" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_FTX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_101" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GIS</me:id>
				<me:title>General Indicator</me:title>
				<me:description>General Indicator</me:description>
				</appinfo></annotation><sequence><element name="S101" type="es:S_GIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S102" type="es:S_MOA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_104" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S104" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S105" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_106" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S106" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>