mapHelper/mapHelper/Repository/EDIFACT/98A/IFTMBP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/IFTMBP" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>IFTMBP</me:id>
				<me:title>Provisional Booking Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Provisional Booking Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_TSR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_CNT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LOC</me:id>
				<me:title>Place/location Identification</me:title>
				<me:description>Place/location Identification</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GOR</me:id>
				<me:title>Governmental Requirements</me:title>
				<me:description>Governmental Requirements</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_GOR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TDT</me:id>
				<me:title>Details Of Transport</me:title>
				<me:description>Details Of Transport</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_TDT" maxOccurs="1" me:nodetype="SEG"></element><element name="S17" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_TSR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LOC</me:id>
				<me:title>Place/location Identification</me:title>
				<me:description>Place/location Identification</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CPI</me:id>
				<me:title>Charge Payment Instructions</me:title>
				<me:description>Charge Payment Instructions</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_CPI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_RFF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_CUX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_MOA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TSR</me:id>
				<me:title>Transport Service Requirements</me:title>
				<me:description>Transport Service Requirements</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_TSR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_TPL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>GID</me:id>
				<me:title>Goods Item Details</me:title>
				<me:description>Goods Item Details</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_GID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_HAN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_TMP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_RNG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_TMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="S50" type="es:S_GDS" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_51" type="me:L_51" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_57" type="me:L_57" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_65" type="me:L_65" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_51" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S51" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DIM</me:id>
				<me:title>Dimensions</me:title>
				<me:description>Dimensions</me:description>
				</appinfo></annotation><sequence><element name="S53" type="es:S_DIM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S55" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_57" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DOC</me:id>
				<me:title>Document/message Details</me:title>
				<me:description>Document/message Details</me:description>
				</appinfo></annotation><sequence><element name="S57" type="es:S_DOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TPL</me:id>
				<me:title>Transport Placement</me:title>
				<me:description>Transport Placement</me:description>
				</appinfo></annotation><sequence><element name="S59" type="es:S_TPL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S60" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SGP</me:id>
				<me:title>Split Goods Placement</me:title>
				<me:description>Split Goods Placement</me:description>
				</appinfo></annotation><sequence><element name="S62" type="es:S_SGP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_63" type="me:L_63" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_63" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S63" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_65" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DGS</me:id>
				<me:title>Dangerous Goods</me:title>
				<me:description>Dangerous Goods</me:description>
				</appinfo></annotation><sequence><element name="S65" type="es:S_DGS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_69" type="me:L_69" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_71" type="me:L_71" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S67" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_69" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S69" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_71" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SGP</me:id>
				<me:title>Split Goods Placement</me:title>
				<me:description>Split Goods Placement</me:description>
				</appinfo></annotation><sequence><element name="S71" type="es:S_SGP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S72" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EQD</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S74" type="es:S_EQD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_EQN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_TMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_MEA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_DIM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_TPL" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_HAN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_TMP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_84" type="me:L_84" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_84" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NAD</me:id>
				<me:title>Name And Address</me:title>
				<me:description>Name And Address</me:description>
				</appinfo></annotation><sequence><element name="S84" type="es:S_NAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_86" type="me:L_86" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_86" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CTA</me:id>
				<me:title>Contact Information</me:title>
				<me:description>Contact Information</me:description>
				</appinfo></annotation><sequence><element name="S86" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_COM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>