mapHelper/mapHelper/Repository/EDIFACT/98A/SOCADE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDIFACT/map/SOCADE" xmlns:me="http://www.directedi.com/edixml/schema/EDIFACT/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDIFACT/98A/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>SOCADE</me:id>
				<me:title>Social Administration Message</me:title>
				<me:plugintype>EDIFACT</me:plugintype>
				<me:ediversion>98A</me:ediversion>
				<me:functionalGroup></me:functionalGroup>
				<me:description>Social Administration Message</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGM" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="5" me:nodetype="SEG"></element><element name="S3" type="es:S_RFF" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="9" me:nodetype="LOOP"></element><element name="S10" type="es:S_UNS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_11" type="me:L_11" maxOccurs="99999" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ADR</me:id>
				<me:title>Address</me:title>
				<me:description>Address</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PNA</me:id>
				<me:title>Party Name</me:title>
				<me:description>Party Name</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_PNA" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_FTX" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_REL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_NAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_LOC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_FII" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_EMP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_MOA" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_QTY" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_CTA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_COM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ADR</me:id>
				<me:title>Address</me:title>
				<me:description>Address</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_ADR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_FTX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRC</me:id>
				<me:title>Process Identification</me:title>
				<me:description>Process Identification</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_PRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_FTX" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_ATT" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DTM" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_EMP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_ADR" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_IND" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_STS" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_LOC" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RFF</me:id>
				<me:title>References</me:title>
				<me:description>References</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_RFF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_GIS" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_RFF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PCD</me:id>
				<me:title>Percentage Details</me:title>
				<me:description>Percentage Details</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_PCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MOA</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AUT</me:id>
				<me:title>Authentication Result</me:title>
				<me:description>Authentication Result</me:description>
				</appinfo></annotation><sequence><element name="S50" type="es:S_AUT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>