mapHelper/mapHelper/Repository/EDI/004060/103.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/103" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>103</me:id>  
    <me:title>ABANDONED PROPERTY FILINGS</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>AB</me:functionalGroup>  
    <me:description>ABANDONED PROPERTY FILINGS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_BPR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_TRN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_9" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S9" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S15" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_N2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_INI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_TC2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_NM1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_YNQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PER</me:id>  
    <me:title>ADMINISTRATIVE COMMUNICATIONS CONTACT</me:title>  
    <me:description>ADMINISTRATIVE COMMUNICATIONS CONTACT</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S31" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S32" type="es:S_BLN" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S33" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_INT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_PDS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SHI</me:id>  
    <me:title>SECURITY HOLDING INFORMATION</me:title>  
    <me:description>SECURITY HOLDING INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S37" type="es:S_SHI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_PCT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S42" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>