mapHelper/mapHelper/Repository/EDI/004060/104.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/104" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>104</me:id>  
    <me:title>AIR SHIPMENT INFORMATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>SA</me:functionalGroup>  
    <me:description>AIR SHIPMENT INFORMATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_P1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G47" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_F9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" maxOccurs="99999" me:nodetype="LOOP"></element><element name="S34" type="es:S_L3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_10" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FOB</me:id>  
    <me:title>F.O.B. RELATED INSTRUCTIONS</me:title>  
    <me:description>F.O.B. RELATED INSTRUCTIONS</me:description>  
    </appinfo></annotation><sequence><element name="S10" type="es:S_FOB" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_SL1" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_N9" maxOccurs="10" me:nodetype="SEG"></element><element name="S13" type="es:S_TD4" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_H2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_H3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_M1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_X1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_X2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" maxOccurs="100" me:nodetype="LOOP"></element><element name="S33" type="es:S_ACS" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S23" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S24" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L5</me:id>  
    <me:title>DESCRIPTION, MARKS AND NUMBERS</me:title>  
    <me:description>DESCRIPTION, MARKS AND NUMBERS</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_L5" maxOccurs="1" me:nodetype="SEG"></element><element name="S30" type="es:S_L0" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_L1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_L4" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>