mapHelper/mapHelper/Repository/EDI/004060/106.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/106" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>106</me:id>  
    <me:title>MOTOR CARRIER RATE PROPOSAL</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>MH</me:functionalGroup>  
    <me:description>MOTOR CARRIER RATE PROPOSAL</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_BLR" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_TFR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_AT5" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PR" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_LC1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_MI1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_MCT" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" maxOccurs="99999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_11" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MS2</me:id>  
    <me:title>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:title>  
    <me:description>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:description>  
    </appinfo></annotation><sequence><element name="S11" type="es:S_MS2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_AT9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TF</me:id>  
    <me:title>TARIFF INFORMATION</me:title>  
    <me:description>TARIFF INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S13" type="es:S_TF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_TS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S15" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S21" type="es:S_GY" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PR" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_TFR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_AT5" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" maxOccurs="99999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MS2</me:id>  
    <me:title>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:title>  
    <me:description>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:description>  
    </appinfo></annotation><sequence><element name="S26" type="es:S_MS2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_AT9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TF</me:id>  
    <me:title>TARIFF INFORMATION</me:title>  
    <me:description>TARIFF INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_TF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_TS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CA1</me:id>  
    <me:title>RATE REQUEST IDENTIFIER</me:title>  
    <me:description>RATE REQUEST IDENTIFIER</me:description>  
    </appinfo></annotation><sequence><element name="S31" type="es:S_CA1" maxOccurs="1" me:nodetype="SEG"></element><element name="S32" type="es:S_GY" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_PR" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_LC1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_SV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_AT5" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_MCT" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MS2</me:id>  
    <me:title>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:title>  
    <me:description>EQUIPMENT OR CONTAINER OWNER AND TYPE</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_MS2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_AT9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>RTT</me:id>  
    <me:title>FREIGHT RATE INFORMATION</me:title>  
    <me:description>FREIGHT RATE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_RTT" maxOccurs="1" me:nodetype="SEG"></element><element name="S41" type="es:S_TFR" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TF</me:id>  
    <me:title>TARIFF INFORMATION</me:title>  
    <me:description>TARIFF INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S42" type="es:S_TF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_TS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>