mapHelper/mapHelper/Repository/EDI/004060/109.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/109" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>109</me:id>  
    <me:title>VESSEL CONTENT DETAILS</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>VE</me:functionalGroup>  
    <me:description>VESSEL CONTENT DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_B4" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N9" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_Q2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_V9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>R4</me:id>  
    <me:title>PORT OR TERMINAL</me:title>  
    <me:description>PORT OR TERMINAL</me:description>  
    </appinfo></annotation><sequence><element name="S5" type="es:S_R4" maxOccurs="1" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_V9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N9</me:id>  
    <me:title>EXTENDED REFERENCE INFORMATION</me:title>  
    <me:description>EXTENDED REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_N9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_SG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>