mapHelper/mapHelper/Repository/EDI/004060/199.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/199" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>199</me:id>  
    <me:title>REAL ESTATE SETTLEMENT INFORMATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>TO</me:functionalGroup>  
    <me:description>REAL ESTATE SETTLEMENT INFORMATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_REF" maxOccurs="12" me:nodetype="SEG"></element><element name="S10" type="es:S_LRQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_LN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_III" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NX1</me:id>  
    <me:title>PROPERTY OR ENTITY IDENTIFICATION</me:title>  
    <me:description>PROPERTY OR ENTITY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S15" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_NX2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PDS" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_PDE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IN1</me:id>  
    <me:title>INDIVIDUAL IDENTIFICATION</me:title>  
    <me:description>INDIVIDUAL IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_IN2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PER" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FGS</me:id>  
    <me:title>FORM GROUP</me:title>  
    <me:description>FORM GROUP</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_FGS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AMT</me:id>  
    <me:title>MONETARY AMOUNT INFORMATION</me:title>  
    <me:description>MONETARY AMOUNT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S25" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_PCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>