mapHelper/mapHelper/Repository/EDI/004060/204.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/204" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>204</me:id>  
    <me:title>MOTOR CARRIER LOAD TENDER</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>SM</me:functionalGroup>  
    <me:description>MOTOR CARRIER LOAD TENDER</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_B2" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_L11" maxOccurs="99999" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_G62" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_MS3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PLD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" maxOccurs="999" me:nodetype="LOOP"></element><element name="S71" type="es:S_L3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_10" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S10" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_L11" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N7</me:id>  
    <me:title>EQUIPMENT DETAILS</me:title>  
    <me:description>EQUIPMENT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N7A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N7B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_M7" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>S5</me:id>  
    <me:title>STOP-OFF DETAILS</me:title>  
    <me:description>STOP-OFF DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_S5" maxOccurs="1" me:nodetype="SEG"></element><element name="S22" type="es:S_L11" maxOccurs="99999" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_G62" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_AT8" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_LAD" maxOccurs="99999" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PLD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element><element name="L_50" type="me:L_50" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element><element name="L_66" type="me:L_66" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L5</me:id>  
    <me:title>DESCRIPTION, MARKS AND NUMBERS</me:title>  
    <me:description>DESCRIPTION, MARKS AND NUMBERS</me:description>  
    </appinfo></annotation><sequence><element name="S34" type="es:S_L5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_AT8" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_AT5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_MEA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_L4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G61</me:id>  
    <me:title>CONTACT</me:title>  
    <me:description>CONTACT</me:description>  
    </appinfo></annotation><sequence><element name="S40" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_L11" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S43" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_50" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>OID</me:id>  
    <me:title>ORDER INFORMATION DETAIL</me:title>  
    <me:description>ORDER INFORMATION DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S50" type="es:S_OID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_G62" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_LAD" maxOccurs="99999" minOccurs="0" me:nodetype="SEG"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="99999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L5</me:id>  
    <me:title>DESCRIPTION, MARKS AND NUMBERS</me:title>  
    <me:description>DESCRIPTION, MARKS AND NUMBERS</me:description>  
    </appinfo></annotation><sequence><element name="S53" type="es:S_L5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_AT8" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_L4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G61</me:id>  
    <me:title>CONTACT</me:title>  
    <me:description>CONTACT</me:description>  
    </appinfo></annotation><sequence><element name="S56" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_L11" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S59" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_66" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N7</me:id>  
    <me:title>EQUIPMENT DETAILS</me:title>  
    <me:description>EQUIPMENT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S66" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_N7A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_N7B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S70" type="es:S_M7" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>