mapHelper/mapHelper/Repository/EDI/004060/205.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/205" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>205</me:id>  
    <me:title>MORTGAGE NOTE</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>MN</me:functionalGroup>  
    <me:description>MORTGAGE NOTE</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_TRN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_9" type="me:L_9" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S35" type="es:S_CTT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_NM1" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_REF" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>MNC</me:id>  
    <me:title>MORTGAGE NOTE CHARACTERISTICS</me:title>  
    <me:description>MORTGAGE NOTE CHARACTERISTICS</me:description>  
    </appinfo></annotation><sequence><element name="S9" type="es:S_MNC" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_SOM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_REF" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_INT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PCT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_AMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_QTY" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_YNQ" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_III" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CDI</me:id>  
    <me:title>CHANGE DETAIL INFORMATION</me:title>  
    <me:description>CHANGE DETAIL INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_CDI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_VDI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_YNQ" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_AMT" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PCT" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_III" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IN1</me:id>  
    <me:title>INDIVIDUAL IDENTIFICATION</me:title>  
    <me:description>INDIVIDUAL IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S29" type="es:S_IN2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_REF" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NX1</me:id>  
    <me:title>PROPERTY OR ENTITY IDENTIFICATION</me:title>  
    <me:description>PROPERTY OR ENTITY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S32" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_NX2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_PDS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>