mapHelper/mapHelper/Repository/EDI/004060/219.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/219" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>219</me:id>  
    <me:title>LOGISTICS SERVICE REQUEST</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>AB</me:functionalGroup>  
    <me:description>LOGISTICS SERVICE REQUEST</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_B9" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B9A" maxOccurs="7" me:nodetype="SEG"></element><element name="S3" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_L11" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_MS3" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_ITA" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="S66" type="es:S_L3" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N7</me:id>  
    <me:title>EQUIPMENT DETAILS</me:title>  
    <me:description>EQUIPMENT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N7A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N7B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>S5</me:id>  
    <me:title>STOP-OFF DETAILS</me:title>  
    <me:description>STOP-OFF DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S12" type="es:S_S5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_G62" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_L11" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_ITA" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G61</me:id>  
    <me:title>CONTACT</me:title>  
    <me:description>CONTACT</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_LH6" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S24" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_LH2" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_LH3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S31" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_LCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_MAN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_L11" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G61</me:id>  
    <me:title>CONTACT</me:title>  
    <me:description>CONTACT</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_L11" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S41" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LAD</me:id>  
    <me:title>LADING DETAIL</me:title>  
    <me:description>LADING DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S48" type="es:S_LAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_PO4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_G69" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_L11" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G61</me:id>  
    <me:title>CONTACT</me:title>  
    <me:description>CONTACT</me:description>  
    </appinfo></annotation><sequence><element name="S56" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_L11" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_LH6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_59" type="me:L_59" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_59" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S59" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>