mapHelper/mapHelper/Repository/EDI/004060/255.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/255" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>255</me:id>  
    <me:title>UNDERWRITING INFORMATION SERVICES</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>UI</me:functionalGroup>  
    <me:description>UNDERWRITING INFORMATION SERVICES</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="9" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ACT</me:id>  
    <me:title>ACCOUNT IDENTIFICATION</me:title>  
    <me:description>ACCOUNT IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_ACT" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_AM1" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_MSG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_YNQ" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_NM1" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S20" type="es:S_N3" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_ASI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_IND" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_CD2" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_MSG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>EFI</me:id>  
    <me:title>ELECTRONIC FORMAT IDENTIFICATION</me:title>  
    <me:description>ELECTRONIC FORMAT IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_BIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PO1</me:id>  
    <me:title>BASELINE ITEM DATA</me:title>  
    <me:description>BASELINE ITEM DATA</me:description>  
    </appinfo></annotation><sequence><element name="S30" type="es:S_PO1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_ASI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DMA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_MSG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S53" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S37" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_NM1" maxOccurs="1" me:nodetype="SEG"></element><element name="S39" type="es:S_N2" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_NX2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_REC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_IND" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_CN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_CD2" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_MSG" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_AM1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>