mapHelper/mapHelper/Repository/EDI/004060/259.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/259" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>259</me:id>  
    <me:title>RESIDENTIAL MORTGAGE INSURANCE EXPLANATION OF BENEF</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>MG</me:functionalGroup>  
    <me:description>RESIDENTIAL MORTGAGE INSURANCE EXPLANATION OF BENEF</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N9</me:id>  
    <me:title>EXTENDED REFERENCE INFORMATION</me:title>  
    <me:description>EXTENDED REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_N9" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S10" type="es:S_AMT" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_DFI" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S17" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DTM</me:id>  
    <me:title>DATE/TIME REFERENCE</me:title>  
    <me:description>DATE/TIME REFERENCE</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_QTY" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_INT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_AMT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_III" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FIS</me:id>  
    <me:title>MORTGAGE LOAN FISCAL DATA</me:title>  
    <me:description>MORTGAGE LOAN FISCAL DATA</me:description>  
    </appinfo></annotation><sequence><element name="S25" type="es:S_FIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_III" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AWD</me:id>  
    <me:title>AMOUNT WITH DESCRIPTION</me:title>  
    <me:description>AMOUNT WITH DESCRIPTION</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_AWD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_III" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>