mapHelper/mapHelper/Repository/EDI/004060/264.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/264" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>264</me:id>  
    <me:title>MORTGAGE LOAN DEFAULT STATUS</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>MG</me:functionalGroup>  
    <me:description>MORTGAGE LOAN DEFAULT STATUS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_MIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S41" type="es:S_QTY" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_AMT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N4" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_REF" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_QTY" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_AMT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_18" type="me:L_18" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DTP</me:id>  
    <me:title>DATE OR TIME OR PERIOD</me:title>  
    <me:description>DATE OR TIME OR PERIOD</me:description>  
    </appinfo></annotation><sequence><element name="S18" type="es:S_DTP" maxOccurs="1" me:nodetype="SEG"></element><element name="S19" type="es:S_REF" maxOccurs="10" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S26" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="S40" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_REF" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REC</me:id>  
    <me:title>REAL ESTATE CONDITION</me:title>  
    <me:description>REAL ESTATE CONDITION</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_REC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DFI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_AMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_INT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_SOM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTP" maxOccurs="14" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_MRC" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_MSG" maxOccurs="11" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_YNQ" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>