mapHelper/mapHelper/Repository/EDI/004060/270.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/270" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>270</me:id>  
    <me:title>ELIGIBILITY, COVERAGE OR BENEFIT INQUIRY</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>HS</me:functionalGroup>  
    <me:description>ELIGIBILITY, COVERAGE OR BENEFIT INQUIRY</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BHT" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>HL</me:id>  
    <me:title>HIERARCHICAL LEVEL</me:title>  
    <me:description>HIERARCHICAL LEVEL</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_TRN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_NM1" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PRV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_INS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_HI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MPI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>EQ</me:id>  
    <me:title>ELIGIBILITY OR BENEFIT INQUIRY</me:title>  
    <me:description>ELIGIBILITY OR BENEFIT INQUIRY</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_EQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_AMT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_VEH" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PDR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PDP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_III" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>