mapHelper/mapHelper/Repository/EDI/004060/309.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/309" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>309</me:id>  
    <me:title>CUSTOMS MANIFEST</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>AQ</me:functionalGroup>  
    <me:description>CUSTOMS MANIFEST</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_M10" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>P4</me:id>  
    <me:title>PORT INFORMATION</me:title>  
    <me:description>PORT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_P4" maxOccurs="1" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_M13" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_M11" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N9" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S7" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_X1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>M12</me:id>  
    <me:title>IN-BOND IDENTIFYING INFORMATION</me:title>  
    <me:description>IN-BOND IDENTIFYING INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S13" type="es:S_M12" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_R4" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>VID</me:id>  
    <me:title>CONVEYANCE IDENTIFICATION</me:title>  
    <me:description>CONVEYANCE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S15" type="es:S_VID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N10</me:id>  
    <me:title>QUANTITY AND DESCRIPTION</me:title>  
    <me:description>QUANTITY AND DESCRIPTION</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_VC" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_MAN" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>H1</me:id>  
    <me:title>HAZARDOUS MATERIAL</me:title>  
    <me:description>HAZARDOUS MATERIAL</me:description>  
    </appinfo></annotation><sequence><element name="S20" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_H2" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>