mapHelper/mapHelper/Repository/EDI/004060/311.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/311" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>311</me:id>  
    <me:title>CANADA CUSTOMS INFORMATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>SO</me:functionalGroup>  
    <me:description>CANADA CUSTOMS INFORMATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_Y6" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_N9" maxOccurs="10" me:nodetype="SEG"></element><element name="S4" type="es:S_V1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_V2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_V3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" maxOccurs="10" me:nodetype="LOOP"></element><element name="S12" type="es:S_R4" maxOccurs="10" me:nodetype="SEG"></element><element name="S13" type="es:S_K1" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="999" me:nodetype="LOOP"></element><element name="S26" type="es:S_L3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_K1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S8" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_Y2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="120" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ED</me:id>  
    <me:title>EQUIPMENT DESCRIPTION</me:title>  
    <me:description>EQUIPMENT DESCRIPTION</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_ED" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_NA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_L4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_G2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L0</me:id>  
    <me:title>LINE ITEM - QUANTITY AND WEIGHT</me:title>  
    <me:description>LINE ITEM - QUANTITY AND WEIGHT</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_L0" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_L5" maxOccurs="999" me:nodetype="SEG"></element><element name="S23" type="es:S_L4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_X1" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_X2" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>