mapHelper/mapHelper/Repository/EDI/004060/312.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/312" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>312</me:id>  
    <me:title>ARRIVAL NOTICE (OCEAN)</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>IO</me:functionalGroup>  
    <me:description>ARRIVAL NOTICE (OCEAN)</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_B3" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_Y6" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_Q3" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_G1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_G2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_R2" maxOccurs="13" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N9" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_V1" maxOccurs="2" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="20" me:nodetype="LOOP"></element><element name="S16" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_L5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_18" type="me:L_18" maxOccurs="999" me:nodetype="LOOP"></element><element name="S52" type="es:S_V9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_L3" maxOccurs="1" me:nodetype="SEG"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="S56" type="es:S_K1" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_L11" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_10" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S10" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>R4</me:id>  
    <me:title>PORT OR TERMINAL</me:title>  
    <me:description>PORT OR TERMINAL</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_R4" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S18" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="120" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N7</me:id>  
    <me:title>EQUIPMENT DETAILS</me:title>  
    <me:description>EQUIPMENT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N12" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_W09" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_L4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>H1</me:id>  
    <me:title>HAZARDOUS MATERIAL</me:title>  
    <me:description>HAZARDOUS MATERIAL</me:description>  
    </appinfo></annotation><sequence><element name="S25" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_H2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_LFH" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_LHR" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L0</me:id>  
    <me:title>LINE ITEM - QUANTITY AND WEIGHT</me:title>  
    <me:description>LINE ITEM - QUANTITY AND WEIGHT</me:description>  
    </appinfo></annotation><sequence><element name="S36" type="es:S_L0" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_L5" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="S40" type="es:S_L7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L1</me:id>  
    <me:title>RATE AND CHARGES</me:title>  
    <me:description>RATE AND CHARGES</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_L1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>H1</me:id>  
    <me:title>HAZARDOUS MATERIAL</me:title>  
    <me:description>HAZARDOUS MATERIAL</me:description>  
    </appinfo></annotation><sequence><element name="S41" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_H2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LH1</me:id>  
    <me:title>HAZARDOUS IDENTIFICATION INFORMATION</me:title>  
    <me:description>HAZARDOUS IDENTIFICATION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S43" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_LFH" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_LHR" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>L1</me:id>  
    <me:title>RATE AND CHARGES</me:title>  
    <me:description>RATE AND CHARGES</me:description>  
    </appinfo></annotation><sequence><element name="S54" type="es:S_L1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>