mapHelper/mapHelper/Repository/EDI/004060/486.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/486" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>486</me:id>  
    <me:title>RATE DOCKET EXPIRATION</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>TP</me:functionalGroup>  
    <me:description>RATE DOCKET EXPIRATION</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_REN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DR" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_PI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_SA" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --></schema>