mapHelper/mapHelper/Repository/EDI/004060/811.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/811" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>811</me:id>  
    <me:title>CONSOLIDATED SERVICE INVOICE/STATEMENT</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>CI</me:functionalGroup>  
    <me:description>CONSOLIDATED SERVICE INVOICE/STATEMENT</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BIG" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_NTE" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_ITD" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S113" type="es:S_TDS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_114" type="me:L_114" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_117" type="me:L_117" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_119" type="me:L_119" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S134" type="es:S_CTT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_9" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S9" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FA1</me:id>  
    <me:title>TYPE OF FINANCIAL ACCOUNTING DATA</me:title>  
    <me:description>TYPE OF FINANCIAL ACCOUNTING DATA</me:description>  
    </appinfo></annotation><sequence><element name="S16" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_FA2" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>HL</me:id>  
    <me:title>HIERARCHICAL LEVEL</me:title>  
    <me:description>HIERARCHICAL LEVEL</me:description>  
    </appinfo></annotation><sequence><element name="S18" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_70" type="me:L_70" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_92" type="me:L_92" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_98" type="me:L_98" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_104" type="me:L_104" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_111" type="me:L_111" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_VEH" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_SI" maxOccurs="8" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PID" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_MEA" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_DTM" maxOccurs="8" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>QTY</me:id>  
    <me:title>QUANTITY INFORMATION</me:title>  
    <me:description>QUANTITY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S28" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_SI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S30" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ITA</me:id>  
    <me:title>ALLOWANCE, CHARGE OR SERVICE</me:title>  
    <me:description>ALLOWANCE, CHARGE OR SERVICE</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IT1</me:id>  
    <me:title>BASELINE ITEM DATA (INVOICE)</me:title>  
    <me:description>BASELINE ITEM DATA (INVOICE)</me:description>  
    </appinfo></annotation><sequence><element name="S41" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_SI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PID" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_MEA" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_INC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_CAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_YNQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_LQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_LCD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AMT</me:id>  
    <me:title>MONETARY AMOUNT INFORMATION</me:title>  
    <me:description>MONETARY AMOUNT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S54" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>QTY</me:id>  
    <me:title>QUANTITY INFORMATION</me:title>  
    <me:description>QUANTITY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S56" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_SI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ITA</me:id>  
    <me:title>ALLOWANCE, CHARGE OR SERVICE</me:title>  
    <me:description>ALLOWANCE, CHARGE OR SERVICE</me:description>  
    </appinfo></annotation><sequence><element name="S58" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S61" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_NX2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_LCD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLN</me:id>  
    <me:title>SUBLINE ITEM DETAIL</me:title>  
    <me:description>SUBLINE ITEM DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S70" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_SI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_PID" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_MEA" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_INC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_ITA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_AMT" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_83" type="me:L_83" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_85" type="me:L_85" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_83" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>QTY</me:id>  
    <me:title>QUANTITY INFORMATION</me:title>  
    <me:description>QUANTITY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S83" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_SI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_85" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S85" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_REF" maxOccurs="8" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S91" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_92" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TCD</me:id>  
    <me:title>ITEMIZED CALL DETAIL</me:title>  
    <me:description>ITEMIZED CALL DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S92" type="es:S_TCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S93" type="es:S_SI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S94" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S95" type="es:S_ITA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_96" type="me:L_96" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_96" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>QTY</me:id>  
    <me:title>QUANTITY INFORMATION</me:title>  
    <me:description>QUANTITY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S96" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S97" type="es:S_SI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_98" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>USD</me:id>  
    <me:title>USAGE-SENSITIVE DETAIL</me:title>  
    <me:description>USAGE-SENSITIVE DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S98" type="es:S_USD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_SI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_ITA" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S101" type="es:S_TRF" maxOccurs="18" minOccurs="0" me:nodetype="SEG"></element><element name="L_102" type="me:L_102" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_102" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>QTY</me:id>  
    <me:title>QUANTITY INFORMATION</me:title>  
    <me:description>QUANTITY INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S102" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S103" type="es:S_SI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_104" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>III</me:id>  
    <me:title>INFORMATION</me:title>  
    <me:description>INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S104" type="es:S_III" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S105" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S106" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_108" type="me:L_108" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_108" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LQ</me:id>  
    <me:title>INDUSTRY CODE IDENTIFICATION</me:title>  
    <me:description>INDUSTRY CODE IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S108" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S109" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S110" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_111" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>FA1</me:id>  
    <me:title>TYPE OF FINANCIAL ACCOUNTING DATA</me:title>  
    <me:description>TYPE OF FINANCIAL ACCOUNTING DATA</me:description>  
    </appinfo></annotation><sequence><element name="S111" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S112" type="es:S_FA2" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_114" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ITA</me:id>  
    <me:title>ALLOWANCE, CHARGE OR SERVICE</me:title>  
    <me:description>ALLOWANCE, CHARGE OR SERVICE</me:description>  
    </appinfo></annotation><sequence><element name="S114" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S115" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S116" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_117" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>BAL</me:id>  
    <me:title>BALANCE DETAIL</me:title>  
    <me:description>BALANCE DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S117" type="es:S_BAL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S118" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_119" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S119" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_120" type="me:L_120" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_122" type="me:L_122" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_128" type="me:L_128" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_120" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>BAL</me:id>  
    <me:title>BALANCE DETAIL</me:title>  
    <me:description>BALANCE DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S120" type="es:S_BAL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S121" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_122" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ITA</me:id>  
    <me:title>ALLOWANCE, CHARGE OR SERVICE</me:title>  
    <me:description>ALLOWANCE, CHARGE OR SERVICE</me:description>  
    </appinfo></annotation><sequence><element name="S122" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S123" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S124" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S125" type="es:S_SI" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S126" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S127" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_128" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S128" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S129" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_130" type="me:L_130" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_132" type="me:L_132" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_130" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AMT</me:id>  
    <me:title>MONETARY AMOUNT INFORMATION</me:title>  
    <me:description>MONETARY AMOUNT INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S130" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S131" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_132" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ITA</me:id>  
    <me:title>ALLOWANCE, CHARGE OR SERVICE</me:title>  
    <me:description>ALLOWANCE, CHARGE OR SERVICE</me:description>  
    </appinfo></annotation><sequence><element name="S132" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S133" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>