mapHelper/mapHelper/Repository/EDI/004060/823.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/823" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>823</me:id>  
    <me:title>LOCKBOX</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>LB</me:functionalGroup>  
    <me:description>LOCKBOX</me:description>      
   </appinfo></annotation><sequence>  
<element name="L_1" type="me:L_1" maxOccurs="2" me:nodetype="LOOP"></element><element name="S7" type="es:S_TRN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_1" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S1" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DEP</me:id>  
    <me:title>DEPOSIT</me:title>  
    <me:description>DEPOSIT</me:description>  
    </appinfo></annotation><sequence><element name="S9" type="es:S_DEP" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_AMT" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_QTY" maxOccurs="2" me:nodetype="SEG"></element><element name="S12" type="es:S_REF" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>BAT</me:id>  
    <me:title>BATCH</me:title>  
    <me:description>BATCH</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_BAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_AVA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>BPR</me:id>  
    <me:title>BEGINNING SEGMENT FOR PAYMENT ORDER/REMITTANCE ADVICE</me:title>  
    <me:description>BEGINNING SEGMENT FOR PAYMENT ORDER/REMITTANCE ADVICE</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_BPR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_TRN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_AVA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_77" type="me:L_77" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S79" type="es:S_DED" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_80" type="me:L_80" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ADX</me:id>  
    <me:title>ADJUSTMENT</me:title>  
    <me:description>ADJUSTMENT</me:description>  
    </appinfo></annotation><sequence><element name="S25" type="es:S_ADX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S29" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IT1</me:id>  
    <me:title>BASELINE ITEM DATA (INVOICE)</me:title>  
    <me:description>BASELINE ITEM DATA (INVOICE)</me:description>  
    </appinfo></annotation><sequence><element name="S31" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S32" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S34" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLN</me:id>  
    <me:title>SUBLINE ITEM DETAIL</me:title>  
    <me:description>SUBLINE ITEM DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S36" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S37" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S39" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S41" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>RMR</me:id>  
    <me:title>REMITTANCE ADVICE ACCOUNTS RECEIVABLE OPEN ITEM REFERENCE</me:title>  
    <me:description>REMITTANCE ADVICE ACCOUNTS RECEIVABLE OPEN ITEM REFERENCE</me:description>  
    </appinfo></annotation><sequence><element name="S47" type="es:S_RMR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IT1</me:id>  
    <me:title>BASELINE ITEM DATA (INVOICE)</me:title>  
    <me:description>BASELINE ITEM DATA (INVOICE)</me:description>  
    </appinfo></annotation><sequence><element name="S52" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_57" type="me:L_57" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S53" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S55" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_57" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLN</me:id>  
    <me:title>SUBLINE ITEM DETAIL</me:title>  
    <me:description>SUBLINE ITEM DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S57" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S58" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S60" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ADX</me:id>  
    <me:title>ADJUSTMENT</me:title>  
    <me:description>ADJUSTMENT</me:description>  
    </appinfo></annotation><sequence><element name="S62" type="es:S_ADX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_65" type="me:L_65" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_65" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S65" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>IT1</me:id>  
    <me:title>BASELINE ITEM DATA (INVOICE)</me:title>  
    <me:description>BASELINE ITEM DATA (INVOICE)</me:description>  
    </appinfo></annotation><sequence><element name="S67" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_68" type="me:L_68" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_70" type="me:L_70" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_72" type="me:L_72" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_68" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S68" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S70" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_72" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLN</me:id>  
    <me:title>SUBLINE ITEM DETAIL</me:title>  
    <me:description>SUBLINE ITEM DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S72" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_73" type="me:L_73" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_75" type="me:L_75" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_73" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S73" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_75" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SAC</me:id>  
    <me:title>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:title>  
    <me:description>SERVICE, PROMOTION, ALLOWANCE, OR CHARGE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S75" type="es:S_SAC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_77" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>TXP</me:id>  
    <me:title>TAX PAYMENT</me:title>  
    <me:description>TAX PAYMENT</me:description>  
    </appinfo></annotation><sequence><element name="S77" type="es:S_TXP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_TXI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_80" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S80" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_TRN" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_83" type="me:L_83" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_83" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>NM1</me:id>  
    <me:title>INDIVIDUAL OR ORGANIZATIONAL NAME</me:title>  
    <me:description>INDIVIDUAL OR ORGANIZATIONAL NAME</me:description>  
    </appinfo></annotation><sequence><element name="S83" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_G53" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_86" type="me:L_86" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_89" type="me:L_89" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_86" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>AIN</me:id>  
    <me:title>INCOME</me:title>  
    <me:description>INCOME</me:description>  
    </appinfo></annotation><sequence><element name="S86" type="es:S_AIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S87" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_89" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PEN</me:id>  
    <me:title>PENSION INFORMATION</me:title>  
    <me:description>PENSION INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S89" type="es:S_PEN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S91" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_92" type="me:L_92" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_92" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>INV</me:id>  
    <me:title>INVESTMENT VEHICLE SELECTION</me:title>  
    <me:description>INVESTMENT VEHICLE SELECTION</me:description>  
    </appinfo></annotation><sequence><element name="S92" type="es:S_INV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S93" type="es:S_DTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>