mapHelper/mapHelper/Repository/EDI/004060/836.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/836" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>836</me:id>  
    <me:title>PROCUREMENT NOTICES</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>RQ</me:functionalGroup>  
    <me:description>PROCUREMENT NOTICES</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BCO" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_ITD" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_CTB" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_CTP" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_FOB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_LDT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PWK" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_MTX" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_12" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S12" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_FOB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PO1</me:id>  
    <me:title>BASELINE ITEM DATA</me:title>  
    <me:description>BASELINE ITEM DATA</me:description>  
    </appinfo></annotation><sequence><element name="S21" type="es:S_PO1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PO3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_CTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PID" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_SI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PWK" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_ITD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_CTB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>REF</me:id>  
    <me:title>REFERENCE INFORMATION</me:title>  
    <me:description>REFERENCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S34" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLN</me:id>  
    <me:title>SUBLINE ITEM DETAIL</me:title>  
    <me:description>SUBLINE ITEM DETAIL</me:description>  
    </appinfo></annotation><sequence><element name="S36" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_PID" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S38" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_FOB" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_LDT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_MTX" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LM</me:id>  
    <me:title>CODE SOURCE INFORMATION</me:title>  
    <me:description>CODE SOURCE INFORMATION</me:description>  
    </appinfo></annotation><sequence><element name="S48" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_LQ" maxOccurs="unbounded" me:nodetype="SEG"></element></sequence></complexType></schema>