mapHelper/mapHelper/Repository/EDI/004060/839.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/839" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>839</me:id>  
    <me:title>PROJECT COST REPORTING</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>PK</me:functionalGroup>  
    <me:description>PROJECT COST REPORTING</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_BCS" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_DLV" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PCT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S7" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CFT</me:id>  
    <me:title>COST REPORTING FORMAT TYPE</me:title>  
    <me:description>COST REPORTING FORMAT TYPE</me:description>  
    </appinfo></annotation><sequence><element name="S14" type="es:S_CFT" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_CAL" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>BSD</me:id>  
    <me:title>BREAKDOWN STRUCTURE DESCRIPTION</me:title>  
    <me:description>BREAKDOWN STRUCTURE DESCRIPTION</me:description>  
    </appinfo></annotation><sequence><element name="S17" type="es:S_BSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PAM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PCT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_RPA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>CLI</me:id>  
    <me:title>COST LINE ITEM</me:title>  
    <me:description>COST LINE ITEM</me:description>  
    </appinfo></annotation><sequence><element name="S27" type="es:S_CLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_PAM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_PCT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_RPA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>