mapHelper/mapHelper/Repository/EDI/004060/894.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/894" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>894</me:id>  
    <me:title>DELIVERY/RETURN BASE RECORD</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>DX</me:functionalGroup>  
    <me:description>DELIVERY/RETURN BASE RECORD</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_G82" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S8" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G72" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_G23" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_G84" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_G86" maxOccurs="1" me:nodetype="SEG"></element><element name="S13" type="es:S_G85" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>G83</me:id>  
    <me:title>LINE ITEM DETAIL/DIRECT STORE DELIVERY</me:title>  
    <me:description>LINE ITEM DETAIL/DIRECT STORE DELIVERY</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_G83" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_G22" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_G72" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_G23" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>