mapHelper/mapHelper/Repository/EDI/004060/944.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/944" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004060/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/EDI/004060/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>944</me:id>  
    <me:title>WAREHOUSE STOCK TRANSFER RECEIPT ADVICE</me:title>  
    <me:plugintype>EDI</me:plugintype>  
    <me:ediversion>004060</me:ediversion>  
    <me:functionalGroup>RE</me:functionalGroup>  
    <me:description>WAREHOUSE STOCK TRANSFER RECEIPT ADVICE</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_W17" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="10" me:nodetype="LOOP"></element><element name="S7" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_W08" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_W18" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_G08" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_TD1" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_15" type="me:L_15" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S25" type="es:S_W14" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>N1</me:id>  
    <me:title>PARTY IDENTIFICATION</me:title>  
    <me:description>PARTY IDENTIFICATION</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LX</me:id>  
    <me:title>TRANSACTION SET LINE NUMBER</me:title>  
    <me:description>TRANSACTION SET LINE NUMBER</me:description>  
    </appinfo></annotation><sequence><element name="S15" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_MAN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PAL" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>W13</me:id>  
    <me:title>ITEM DETAIL EXCEPTION</me:title>  
    <me:description>ITEM DETAIL EXCEPTION</me:description>  
    </appinfo></annotation><sequence></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>W07</me:id>  
    <me:title>ITEM DETAIL FOR STOCK RECEIPT</me:title>  
    <me:description>ITEM DETAIL FOR STOCK RECEIPT</me:description>  
    </appinfo></annotation><sequence><element name="S19" type="es:S_W07" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N9" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_W20" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="S23" type="es:S_W13" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N9" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>