mapHelper/mapHelper/Repository/EDI/004030/180.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/180" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>180</me:id>
				<me:title>Return Merchandise Authorization And Not</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>AN</me:functionalGroup>
				<me:description>Return Merchandise Authorization And Not</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_RDR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_SAC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G38" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PKG" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_TD1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_TD5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BLI</me:id>
				<me:title>Baseline Item Data</me:title>
				<me:description>Baseline Item Data</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_BLI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_N9" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PID" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_RDR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_SAC" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_CRC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_DD" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_GF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_TD5" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_SDQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_54" type="me:L_54" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_52" type="me:L_52" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_52" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S52" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_54" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S54" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>