mapHelper/mapHelper/Repository/EDI/004030/197.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/197" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>197</me:id>
				<me:title>Real Estate Title Evidence</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>TO</me:functionalGroup>
				<me:description>Real Estate Title Evidence</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PID</me:id>
				<me:title>Product/item Description</me:title>
				<me:description>Product/item Description</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_PID" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_REF" maxOccurs="12" me:nodetype="SEG"></element><element name="S10" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NM1</me:id>
				<me:title>Individual Or Organizational Name</me:title>
				<me:description>Individual Or Organizational Name</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EFI</me:id>
				<me:title>Electronic Format Identification</me:title>
				<me:description>Electronic Format Identification</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_BIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_NX2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PDS" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_PDE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FGS</me:id>
				<me:title>Form Group</me:title>
				<me:description>Form Group</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_FGS" maxOccurs="1" me:nodetype="SEG"></element><element name="S23" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_FPT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_IN2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_AMT" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_M1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_MSG" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LQ</me:id>
				<me:title>Industry Code</me:title>
				<me:description>Industry Code</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_DTP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_IN2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_M1" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_MSG" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_G86" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>