mapHelper/mapHelper/Repository/EDI/004030/200.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/200" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>200</me:id>
				<me:title>Mortgage Credit Report</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>ME</me:functionalGroup>
				<me:description>Mortgage Credit Report</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_CRO" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_AAA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_AMT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_NX2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_48" type="me:L_48" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element><element name="L_74" type="me:L_74" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_77" type="me:L_77" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_87" type="me:L_87" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="S105" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_106" type="me:L_106" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="S109" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S110" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_111" type="me:L_111" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S114" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_REF" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S16" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" maxOccurs="15" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_IN2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_QTY" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_NX1" maxOccurs="1" me:nodetype="SEG"></element><element name="S26" type="es:S_NX2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_ARS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_PER" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SOI</me:id>
				<me:title>Source Of Income</me:title>
				<me:description>Source Of Income</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_SOI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="7" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AIN</me:id>
				<me:title>Income</me:title>
				<me:description>Income</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_AIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_YNQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_48" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TLN</me:id>
				<me:title>Tradeline</me:title>
				<me:description>Tradeline</me:description>
				</appinfo></annotation><sequence><element name="S48" type="es:S_TLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_PER" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_DTP" maxOccurs="7" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_TBI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_PPD" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_YNQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_60" type="me:L_60" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_60" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AMT</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S60" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RO</me:id>
				<me:title>Public Record Or Obligation</me:title>
				<me:description>Public Record Or Obligation</me:description>
				</appinfo></annotation><sequence><element name="S62" type="es:S_RO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_CDS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_TBI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_DTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S67" type="es:S_YNQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_68" type="me:L_68" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element><element name="L_70" type="me:L_70" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_68" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AMT</me:id>
				<me:title>Monetary Amount</me:title>
				<me:description>Monetary Amount</me:description>
				</appinfo></annotation><sequence><element name="S68" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S70" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S71" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_74" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CCI</me:id>
				<me:title>Credit Counseling Information</me:title>
				<me:description>Credit Counseling Information</me:description>
				</appinfo></annotation><sequence><element name="S74" type="es:S_CCI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_DTP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S76" type="es:S_MSG" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_77" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>INQ</me:id>
				<me:title>Credit Inquiry Details</me:title>
				<me:description>Credit Inquiry Details</me:description>
				</appinfo></annotation><sequence><element name="S77" type="es:S_INQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S78" type="es:S_TBI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S80" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S81" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S82" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S83" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S84" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S85" type="es:S_YNQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S86" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_87" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>VAR</me:id>
				<me:title>Credit File Variation</me:title>
				<me:description>Credit File Variation</me:description>
				</appinfo></annotation><sequence><element name="S87" type="es:S_VAR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S88" type="es:S_NTE" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="S89" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S90" type="es:S_IN2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S91" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S92" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_93" type="me:L_93" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_95" type="me:L_95" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_103" type="me:L_103" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_93" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S93" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S94" type="es:S_NX2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_95" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S95" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S96" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S97" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S98" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S99" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S100" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S101" type="es:S_EMS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S102" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_103" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SCM</me:id>
				<me:title>Credit Score Model</me:title>
				<me:description>Credit Score Model</me:description>
				</appinfo></annotation><sequence><element name="S103" type="es:S_SCM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S104" type="es:S_SCS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_106" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NTE</me:id>
				<me:title>Note/special Instruction</me:title>
				<me:description>Note/special Instruction</me:description>
				</appinfo></annotation><sequence><element name="S106" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S107" type="es:S_TBI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S108" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_111" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Identification</me:title>
				<me:description>Reference Identification</me:description>
				</appinfo></annotation><sequence><element name="S111" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S112" type="es:S_G32" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S113" type="es:S_NTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>