mapHelper/mapHelper/Repository/EDI/004030/214.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/214" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>214</me:id>
				<me:title>Transportation Carrier Shipment Status M</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>QM</me:functionalGroup>
				<me:description>Transportation Carrier Shipment Status M</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B10" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_MS3" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_MAN" maxOccurs="9999" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_Q7" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_AT5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_AT8" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AT7</me:id>
				<me:title>Shipment Status Details</me:title>
				<me:description>Shipment Status Details</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_AT7" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_MS1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_MS2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_K1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_M7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_G62" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>OID</me:id>
				<me:title>Order Identification Detail</me:title>
				<me:description>Order Identification Detail</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_OID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_SDQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>