mapHelper/mapHelper/Repository/EDI/004030/260.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/260" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>260</me:id>
				<me:title>Application For Mortgage Insurance Benef</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>MG</me:functionalGroup>
				<me:description>Application For Mortgage Insurance Benef</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="7" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CSI</me:id>
				<me:title>Claim Status Information</me:title>
				<me:description>Claim Status Information</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_CSI" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_NM1" maxOccurs="2" me:nodetype="SEG"></element><element name="S10" type="es:S_REF" maxOccurs="6" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" me:nodetype="SEG"></element><element name="S13" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_INT" maxOccurs="24" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MIR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_NTE" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>DFI</me:id>
				<me:title>Default Information</me:title>
				<me:description>Default Information</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_DFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_DTP" maxOccurs="19" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_AMT" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REC</me:id>
				<me:title>Real Estate Condition</me:title>
				<me:description>Real Estate Condition</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_REC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_AMT" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTP" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FCL</me:id>
				<me:title>Foreclosure</me:title>
				<me:description>Foreclosure</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_FCL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FIS</me:id>
				<me:title>Mortgage Loan Fiscal Data</me:title>
				<me:description>Mortgage Loan Fiscal Data</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_FIS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>