mapHelper/mapHelper/Repository/EDI/004030/271.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/271" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>271</me:id>
				<me:title>Eligibility, Coverage Or Benefit Informa</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>HB</me:functionalGroup>
				<me:description>Eligibility, Coverage Or Benefit Informa</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BHT" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HL</me:id>
				<me:title>Hierarchical Level</me:title>
				<me:description>Hierarchical Level</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_TRN" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_AAA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NM1</me:id>
				<me:title>Individual Or Organizational Name</me:title>
				<me:description>Individual Or Organizational Name</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_AAA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_PRV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_INS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DTP" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_LUI" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EB</me:id>
				<me:title>Eligibility Or Benefit Information</me:title>
				<me:description>Eligibility Or Benefit Information</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_EB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_HSD" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_REF" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_DTP" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_AAA" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_VEH" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_PID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PDR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PDP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_EM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_SD1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_PKD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_MSG" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S38" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="S45" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>III</me:id>
				<me:title>Information</me:title>
				<me:description>Information</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_III" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LQ</me:id>
				<me:title>Industry Code</me:title>
				<me:description>Industry Code</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_PCT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NM1</me:id>
				<me:title>Individual Or Organizational Name</me:title>
				<me:description>Individual Or Organizational Name</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_PRV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>