mapHelper/mapHelper/Repository/EDI/004030/355.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/355" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>355</me:id>
				<me:title>U.S. Customs Acceptance/rejection</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>AZ</me:functionalGroup>
				<me:description>U.S. Customs Acceptance/rejection</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_M10" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="20" me:nodetype="LOOP"></element><element name="S46" type="es:S_K3" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>P4</me:id>
				<me:title>Port Information</me:title>
				<me:description>Port Information</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_P4" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_30" type="me:L_30" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M13</me:id>
				<me:title>Manifest Amendment Details</me:title>
				<me:description>Manifest Amendment Details</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_M13" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M11</me:id>
				<me:title>Manifest Bill Of Lading Details</me:title>
				<me:description>Manifest Bill Of Lading Details</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_M11" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N9</me:id>
				<me:title>Reference Identification</me:title>
				<me:description>Reference Identification</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_N9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N3</me:id>
				<me:title>Address Information</me:title>
				<me:description>Address Information</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_N3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N4</me:id>
				<me:title>Geographic Location</me:title>
				<me:description>Geographic Location</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PER</me:id>
				<me:title>Administrative Communications Contact</me:title>
				<me:description>Administrative Communications Contact</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M12</me:id>
				<me:title>In-bond Identifying Information</me:title>
				<me:description>In-bond Identifying Information</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_M12" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>P5</me:id>
				<me:title>Port Function</me:title>
				<me:description>Port Function</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_P5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M21</me:id>
				<me:title>Supplementary In-bond Information</me:title>
				<me:description>Supplementary In-bond Information</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_M21" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M14</me:id>
				<me:title>General Order Status Information</me:title>
				<me:description>General Order Status Information</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_M14" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M15</me:id>
				<me:title>Customs Events Advisory Details</me:title>
				<me:description>Customs Events Advisory Details</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_M15" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_30" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M20</me:id>
				<me:title>Permit To Transfer Request Details</me:title>
				<me:description>Permit To Transfer Request Details</me:description>
				</appinfo></annotation><sequence><element name="S30" type="es:S_M20" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>VID</me:id>
				<me:title>Conveyance Identification</me:title>
				<me:description>Conveyance Identification</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_VID" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="9999" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="21" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MBL</me:id>
				<me:title>Bill Of Lading</me:title>
				<me:description>Bill Of Lading</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_MBL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>M13</me:id>
				<me:title>Manifest Amendment Details</me:title>
				<me:description>Manifest Amendment Details</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_M13" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>VC</me:id>
				<me:title>Motor Vehicle Control</me:title>
				<me:description>Motor Vehicle Control</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_VC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N10</me:id>
				<me:title>Quantity And Description</me:title>
				<me:description>Quantity And Description</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>H1</me:id>
				<me:title>Hazardous Material</me:title>
				<me:description>Hazardous Material</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>H2</me:id>
				<me:title>Additional Hazardous Material Descriptio</me:title>
				<me:description>Additional Hazardous Material Descriptio</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_H2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>