mapHelper/mapHelper/Repository/EDI/004030/418.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/418" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>418</me:id>
				<me:title>Rail Advance Interchange Consist</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>IC</me:functionalGroup>
				<me:description>Rail Advance Interchange Consist</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BAX" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="30" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>W1</me:id>
				<me:title>Block Identification</me:title>
				<me:description>Block Identification</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_W1" maxOccurs="1" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="400" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>W2</me:id>
				<me:title>Equipment Identification</me:title>
				<me:description>Equipment Identification</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_W2" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_W3" maxOccurs="7" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_IMA" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_W4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_W5" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_W6" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_LS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="S25" type="es:S_LE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_LH2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_LHR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LH1</me:id>
				<me:title>Hazardous Identification Information</me:title>
				<me:description>Hazardous Identification Information</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_LH1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_LH2" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LH3" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_LFH" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_LEP" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_LH4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_LHT" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_LHR" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>