mapHelper/mapHelper/Repository/EDI/004030/511.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/511" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>511</me:id>
				<me:title>Requisition</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>RN</me:functionalGroup>
				<me:description>Requisition</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BR" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_6" type="me:L_6" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_G61" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PO1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_DD" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_GF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_G62" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_MAN" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_LIN" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_G69" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_G61" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Identification</me:title>
				<me:description>Reference Identification</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_R4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>