mapHelper/mapHelper/Repository/EDI/004030/821.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/821" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>821</me:id>
				<me:title>Financial Information Reporting</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>FR</me:functionalGroup>
				<me:description>Financial Information Reporting</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTM" maxOccurs="4" me:nodetype="SEG"></element><element name="S3" type="es:S_TRN" maxOccurs="2" me:nodetype="SEG"></element><element name="S4" type="es:S_N1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LQ</me:id>
				<me:title>Industry Code</me:title>
				<me:description>Industry Code</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ENT</me:id>
				<me:title>Entity</me:title>
				<me:description>Entity</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_ENT" maxOccurs="1" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" minOccurs="0" maxOccurs="2" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ACT</me:id>
				<me:title>Account Identification</me:title>
				<me:description>Account Identification</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_ACT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="13" me:nodetype="LOOP"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LQ</me:id>
				<me:title>Industry Code</me:title>
				<me:description>Industry Code</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_LQ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_DTM" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RTE</me:id>
				<me:title>Rate Information</me:title>
				<me:description>Rate Information</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_RTE" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BLN</me:id>
				<me:title>Balance Information</me:title>
				<me:description>Balance Information</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_BLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_AVA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>TSU</me:id>
				<me:title>Transaction Summary</me:title>
				<me:description>Transaction Summary</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_TSU" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_AVA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FIR</me:id>
				<me:title>Financial Information</me:title>
				<me:description>Financial Information</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_FIR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_MSG" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_AVA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_TRN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N1" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_CTP" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_RTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NM1</me:id>
				<me:title>Individual Or Organizational Name</me:title>
				<me:description>Individual Or Organizational Name</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_NM1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>