mapHelper/mapHelper/Repository/EDI/004030/842.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/842" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>842</me:id>
				<me:title>Nonconformance Report</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>NC</me:functionalGroup>
				<me:description>Nonconformance Report</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BNR" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_PID" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PWK</me:id>
				<me:title>Paperwork</me:title>
				<me:description>Paperwork</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HL</me:id>
				<me:title>Hierarchical Level</me:title>
				<me:description>Hierarchical Level</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PID" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PRS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_CID" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_CS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_TMD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_PWK" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_34" type="me:L_34" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_45" type="me:L_45" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_LQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_34" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S34" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SPS</me:id>
				<me:title>Sampling Parameters For Summary Statisti</me:title>
				<me:description>Sampling Parameters For Summary Statisti</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_SPS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_PSD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MEA</me:id>
				<me:title>Measurements</me:title>
				<me:description>Measurements</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>STA</me:id>
				<me:title>Statistics</me:title>
				<me:description>Statistics</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_STA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_45" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NCD</me:id>
				<me:title>Nonconformance Description</me:title>
				<me:description>Nonconformance Description</me:description>
				</appinfo></annotation><sequence><element name="S45" type="es:S_NCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_QTY" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_AMT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_MEA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_RC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_53" type="me:L_53" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_55" type="me:L_55" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_61" type="me:L_61" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_63" type="me:L_63" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_78" type="me:L_78" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_53" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>EFI</me:id>
				<me:title>Electronic Format Identification</me:title>
				<me:description>Electronic Format Identification</me:description>
				</appinfo></annotation><sequence><element name="S53" type="es:S_EFI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_BIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_55" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S55" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S56" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S58" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_61" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S61" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S62" type="es:S_LQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_63" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NCA</me:id>
				<me:title>Nonconformance Action</me:title>
				<me:description>Nonconformance Action</me:description>
				</appinfo></annotation><sequence><element name="S63" type="es:S_NCA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S64" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S65" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S66" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_67" type="me:L_67" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_70" type="me:L_70" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_76" type="me:L_76" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_67" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PWK</me:id>
				<me:title>Paperwork</me:title>
				<me:description>Paperwork</me:description>
				</appinfo></annotation><sequence><element name="S67" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S68" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S69" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_70" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S70" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S71" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S72" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S73" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S74" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S75" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_76" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S76" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S77" type="es:S_LQ" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_78" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S78" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S79" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>