mapHelper/mapHelper/Repository/EDI/004030/851.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/851" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004030/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004030/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>851</me:id>
				<me:title>Asset Schedule</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004030</me:ediversion>
				<me:functionalGroup>LS</me:functionalGroup>
				<me:description>Asset Schedule</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BLS" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_MSG" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_TXI" maxOccurs="7" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_TAX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_PAM" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_ITA" maxOccurs="35" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" maxOccurs="100000" me:nodetype="LOOP"></element><element name="L_16" type="me:L_16" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S36" type="es:S_CTT" maxOccurs="1" me:nodetype="SEG"></element><element name="S37" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LS1</me:id>
				<me:title>Asset Item Identification</me:title>
				<me:description>Asset Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_LS1" maxOccurs="1" me:nodetype="SEG"></element><element name="S17" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_PO3" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PID" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_CTP" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_TXI" maxOccurs="7" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_TAX" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PAM" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_ITA" maxOccurs="35" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>