mapHelper/mapHelper/Repository/TRADACOMS/ANA001/CUSINF.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/TRADACOMS/map/CUSINF" xmlns:me="http://www.directedi.com/edixml/schema/TRADACOMS/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>CUSINF</me:id>  
    <me:title>CUSTOMER INFORMATON DETAILS</me:title>  
    <me:plugintype>TRADACOMS</me:plugintype>  
    <me:ediversion>ANA001</me:ediversion>  
    <me:functionalGroup>CU</me:functionalGroup>  
    <me:description>CUSTOMER INFORMATON DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_NOI" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_CLO" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_NAM" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_LTY" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_INT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_STT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_TRA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_LMI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DNA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --></schema>