mapHelper/mapHelper/Repository/TRADACOMS/ANA001/DYEINS.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/TRADACOMS/map/DYEINS" xmlns:me="http://www.directedi.com/edixml/schema/TRADACOMS/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>DYEINS</me:id>  
    <me:title>THE DYE INSTRUCTION FILE DETAIL</me:title>  
    <me:plugintype>TRADACOMS</me:plugintype>  
    <me:ediversion>ANA001</me:ediversion>  
    <me:functionalGroup>DY</me:functionalGroup>  
    <me:description>THE DYE INSTRUCTION FILE DETAIL</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_CLO" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_ILO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_PYT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_ACO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_OLT" maxOccurs="1" me:nodetype="SEG"></element><element name="S6" type="es:S_ORD" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_ADV" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_INS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_DNA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_10" type="me:L_10" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S14" type="es:S_ITR" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_10" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LSD</me:id>  
    <me:title>LOT AND SHADE DETAILS</me:title>  
    <me:description>LOT AND SHADE DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S10" type="es:S_LSD" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_DNB" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>LLD</me:id>  
    <me:title>LOT AND SHADE LINE DETAILS</me:title>  
    <me:description>LOT AND SHADE LINE DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S12" type="es:S_LLD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DNC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>