mapHelper/mapHelper/Repository/TRADACOMS/ANA001/INVOIC.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/TRADACOMS/map/INVOIC" xmlns:me="http://www.directedi.com/edixml/schema/TRADACOMS/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>INVOIC</me:id>  
    <me:title>INVOICE DETAILS</me:title>  
    <me:plugintype>TRADACOMS</me:plugintype>  
    <me:ediversion>ANA001</me:ediversion>  
    <me:functionalGroup>IN</me:functionalGroup>  
    <me:description>INVOICE DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_CLO" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_IRF" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_PYT" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_DNA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>ODD</me:id>  
    <me:title>ORDER & DELIVERY TERMS</me:title>  
    <me:description>ORDER & DELIVERY TERMS</me:description>  
    </appinfo></annotation><sequence><element name="S5" type="es:S_ODD" maxOccurs="1" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S6" type="es:S_ILD" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_CIA" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_DNC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>