mapHelper/mapHelper/Repository/TRADACOMS/ANA001/LPRDET.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/TRADACOMS/map/LPRDET" xmlns:me="http://www.directedi.com/edixml/schema/TRADACOMS/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>LPRDET</me:id>  
    <me:title>LOCATION PLANNING REPORT DETAILS</me:title>  
    <me:plugintype>TRADACOMS</me:plugintype>  
    <me:ediversion>ANA001</me:ediversion>  
    <me:functionalGroup>LP</me:functionalGroup>  
    <me:description>LOCATION PLANNING REPORT DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_SFR" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SLO</me:id>  
    <me:title>OUTLET LOCATIONS DETAILS</me:title>  
    <me:description>OUTLET LOCATIONS DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_SLO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S3" type="es:S_PDS" maxOccurs="1" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S4" type="es:S_SFP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S5" type="es:S_SFS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_RFD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S7" type="es:S_SFC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_SFX" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>