mapHelper/mapHelper/Repository/TRADACOMS/ANA001/PPRDET.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/TRADACOMS/map/PPRDET" xmlns:me="http://www.directedi.com/edixml/schema/TRADACOMS/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>PPRDET</me:id>  
    <me:title>PRODUCT PLANNING REPORT DETAILS</me:title>  
    <me:plugintype>TRADACOMS</me:plugintype>  
    <me:ediversion>ANA001</me:ediversion>  
    <me:functionalGroup>PP</me:functionalGroup>  
    <me:description>PRODUCT PLANNING REPORT DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_SFR" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S9" type="es:S_SFL" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PDN</me:id>  
    <me:title>PRODUCT DETAILS</me:title>  
    <me:description>PRODUCT DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S2" type="es:S_PDN" maxOccurs="1" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>PLO</me:id>  
    <me:title>OUTLET DETAILS</me:title>  
    <me:description>OUTLET DETAILS</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_PLO" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="0" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_7" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SFC</me:id>  
    <me:title>TIME BASE CONTROL TOTALS</me:title>  
    <me:description>TIME BASE CONTROL TOTALS</me:description>  
    </appinfo></annotation><sequence><element name="S7" type="es:S_SFC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_SFX" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SFP</me:id>  
    <me:title>PLANNING REPORT DATA</me:title>  
    <me:description>PLANNING REPORT DATA</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_SFP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_SFS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_RFD" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>