mapHelper/mapHelper/Repository/TRADACOMS/ANA001/SNPSTS.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<schema targetNamespace="http://www.directedi.com/edixml/schema/TRADACOMS/map/SNPSTS" xmlns:me="http://www.directedi.com/edixml/schema/TRADACOMS/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" xmlns="http://www.w3.org/2001/XMLSchema">  
 <import namespace="http://www.directedi.com/edixml/schema/TRADACOMS/ANA001/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>  
   <appinfo>  
    <me:id>SNPSTS</me:id>  
    <me:title>STOCK SNAPSHOT DETAILS</me:title>  
    <me:plugintype>TRADACOMS</me:plugintype>  
    <me:ediversion>ANA001</me:ediversion>  
    <me:functionalGroup>SN</me:functionalGroup>  
    <me:description>STOCK SNAPSHOT DETAILS</me:description>      
   </appinfo></annotation><sequence>  
<element name="S1" type="es:S_CLO" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_SSR" maxOccurs="1" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S7" type="es:S_SST" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>DNA</me:id>  
    <me:title>DATA NARRATIVE</me:title>  
    <me:description>DATA NARRATIVE</me:description>  
    </appinfo></annotation><sequence><element name="S3" type="es:S_DNA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_4" me:nodetype="LOOP">  
<annotation><appinfo>  
    <me:id>SRF</me:id>  
    <me:title>STOCK REFERENCE</me:title>  
    <me:description>STOCK REFERENCE</me:description>  
    </appinfo></annotation><sequence><element name="S4" type="es:S_SRF" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_SLD" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S6" type="es:S_DNC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>