mapHelper/mapHelper/Repository/EDI/002003/810.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/810" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/002003/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/002003/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>810</me:id>
				<me:title>Invoice</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>002003</me:ediversion>
				<me:functionalGroup>IN</me:functionalGroup>
				<me:description>Invoice</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BIG" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_NTE" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="S12" type="es:S_ITD" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_FOB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PID" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_MEA" maxOccurs="40" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_PWK" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_PKG" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="200000" me:nodetype="LOOP"></element><element name="S46" type="es:S_TDS" maxOccurs="1" me:nodetype="SEG"></element><element name="S47" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_CAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_49" type="me:L_49" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S51" type="es:S_ISS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_CTT" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IT1</me:id>
				<me:title>Baseline Item Data (Invoice)</me:title>
				<me:description>Baseline Item Data (Invoice)</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_IT3" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_CTP" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_PID" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_MEA" maxOccurs="40" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_PWK" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PKG" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_IT4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S31" type="es:S_ITD" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element><element name="S35" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="S43" type="es:S_SDQ" maxOccurs="500" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_CAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ITA</me:id>
				<me:title>Allowance</me:title>
				<me:description>Allowance</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_49" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ITA</me:id>
				<me:title>Allowance</me:title>
				<me:description>Allowance</me:description>
				</appinfo></annotation><sequence><element name="S49" type="es:S_ITA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SLN</me:id>
				<me:title>Subline Item Detail</me:title>
				<me:description>Subline Item Detail</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_PID" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_ITA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>