mapHelper/mapHelper/Repository/EDI/002003/856.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/856" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/002003/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/002003/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>856</me:id>
				<me:title>Ship Notice/manifest</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>002003</me:ediversion>
				<me:functionalGroup>SH</me:functionalGroup>
				<me:description>Ship Notice/manifest</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BSN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_NTE" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" maxOccurs="200000" me:nodetype="LOOP"></element><element name="S22" type="es:S_MAN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_FOB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="S32" type="es:S_SDQ" maxOccurs="50" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_ETD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_ITA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_CTT" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CLD</me:id>
				<me:title>Load Detail</me:title>
				<me:description>Load Detail</me:description>
				</appinfo></annotation><sequence></sequence></complexType><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HL</me:id>
				<me:title>Hierarchical Level</me:title>
				<me:description>Hierarchical Level</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_LIN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_SN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_SLN" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PO4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_PID" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_MEA" maxOccurs="40" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_PWK" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PKG" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_TD1" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_TD5" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_TD3" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_TD4" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_REF" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="S20" type="es:S_CLD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_REF" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_FOB" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>