mapHelper/mapHelper/Repository/EDI/004010/121.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/121" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>121</me:id>
				<me:title>Vehicle Service</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>VS</me:functionalGroup>
				<me:description>Vehicle Service</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BVS" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_V1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_G62" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" maxOccurs="9999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>VC</me:id>
				<me:title>Motor Vehicle Control</me:title>
				<me:description>Motor Vehicle Control</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_VC" maxOccurs="1" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DEL" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_CGS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>