mapHelper/mapHelper/Repository/EDI/004010/131.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/131" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>131</me:id>
				<me:title>Student Educational Record (Transcript)</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>AK</me:functionalGroup>
				<me:description>Student Educational Record (Transcript)</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N1" maxOccurs="2" me:nodetype="SEG"></element><element name="S3" type="es:S_REF" maxOccurs="2" me:nodetype="SEG"></element><element name="S4" type="es:S_QTY" maxOccurs="2" me:nodetype="SEG"></element><element name="S5" type="es:S_SUM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_IN2" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --></schema>