mapHelper/mapHelper/Repository/EDI/004010/206.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/206" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>206</me:id>
				<me:title>Real Estate Inspection</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>MG</me:functionalGroup>
				<me:description>Real Estate Inspection</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_DTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_10" type="me:L_10" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_REF" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_10" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SI</me:id>
				<me:title>Service Characteristic Identification</me:title>
				<me:description>Service Characteristic Identification</me:description>
				</appinfo></annotation><sequence><element name="S10" type="es:S_SI" maxOccurs="1" me:nodetype="SEG"></element><element name="S11" type="es:S_N9" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_RLT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_REC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_LN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_PWK" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_DTP" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_AMT" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_CTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_IN1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_IN2" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_NX1" maxOccurs="1" me:nodetype="SEG"></element><element name="S28" type="es:S_NX2" maxOccurs="unbounded" me:nodetype="SEG"></element><element name="S29" type="es:S_PDS" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_PDE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_REA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_III" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_REC" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_DTP" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_YNQ" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_PWK" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_PER" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_AMT" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_CTP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_N2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_PER" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_CRC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_DFI" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_YNQ" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_AMT" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_OBI" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_AIN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_QTY" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>