mapHelper/mapHelper/Repository/EDI/004010/215.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/215" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>215</me:id>
				<me:title>Motor Carrier Pick-up Manifest</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>UP</me:functionalGroup>
				<me:description>Motor Carrier Pick-up Manifest</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B2A" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_BLR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_L11" maxOccurs="10" me:nodetype="SEG"></element><element name="S5" type="es:S_G62" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_L11" maxOccurs="10" me:nodetype="SEG"></element><element name="S11" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_X1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_X2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SMD</me:id>
				<me:title>Consolidated Shipment Manifest Data</me:title>
				<me:description>Consolidated Shipment Manifest Data</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_SMD" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_L11" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_L5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_MS6" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_MS5" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_MS4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_ACS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_38" type="me:L_38" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S23" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_G61" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_X1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_X2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_R4" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CD3</me:id>
				<me:title>Carton (Package) Detail</me:title>
				<me:description>Carton (Package) Detail</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_CD3" maxOccurs="1" me:nodetype="SEG"></element><element name="S32" type="es:S_MAN" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_MS4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_L5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_ACS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_38" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>AT6</me:id>
				<me:title>International Manifest Information</me:title>
				<me:description>International Manifest Information</me:description>
				</appinfo></annotation><sequence><element name="S38" type="es:S_AT6" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_MS5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_IT1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_CGS" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_L11" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PID" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_MS4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_L5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_47" type="me:L_47" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_47" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SLN</me:id>
				<me:title>Subline Item Detail</me:title>
				<me:description>Subline Item Detail</me:description>
				</appinfo></annotation><sequence><element name="S47" type="es:S_SLN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_PID" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_TC2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_TXI" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>