mapHelper/mapHelper/Repository/EDI/004010/220.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/220" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>220</me:id>
				<me:title>Logistics Service Response</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>AH</me:functionalGroup>
				<me:description>Logistics Service Response</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B9" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_B9A" maxOccurs="7" me:nodetype="SEG"></element><element name="S3" type="es:S_L11" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_MS3" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_NTE" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_12" type="me:L_12" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" minOccurs="0" maxOccurs="99" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LCD</me:id>
				<me:title>Place/location Description</me:title>
				<me:description>Place/location Description</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_LCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_ITA" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_L8" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_L9" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_L3" maxOccurs="999" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_12" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N7</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S12" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N7A" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_N7B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_MEA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_M7" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>S5</me:id>
				<me:title>Stop Off Details</me:title>
				<me:description>Stop Off Details</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_S5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_G62" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_L11" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_ITA" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_26" type="me:L_26" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_26" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S26" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_LCT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_MAN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LAD</me:id>
				<me:title>Lading Detail</me:title>
				<me:description>Lading Detail</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_LAD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_PO4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_G69" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_AT5" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_L11" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>