mapHelper/mapHelper/Repository/EDI/004010/301.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/301" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>301</me:id>
				<me:title>Confirmation (Ocean)</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>RO</me:functionalGroup>
				<me:description>Confirmation (Ocean)</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B1" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_Y6" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_Y3" maxOccurs="1" me:nodetype="SEG"></element><element name="L_5" type="me:L_5" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S7" type="es:S_N9" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_R2A" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="L_9" type="me:L_9" minOccurs="0" maxOccurs="4" me:nodetype="LOOP"></element><element name="L_14" type="me:L_14" maxOccurs="20" me:nodetype="LOOP"></element><element name="S16" type="es:S_W09" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_EA" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" maxOccurs="999" me:nodetype="LOOP"></element><element name="S29" type="es:S_V1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_V9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_5" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>Y4</me:id>
				<me:title>Container Release</me:title>
				<me:description>Container Release</me:description>
				</appinfo></annotation><sequence><element name="S5" type="es:S_Y4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_W09" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_9" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S9" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>R4</me:id>
				<me:title>Port Or Terminal</me:title>
				<me:description>Port Or Terminal</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_R4" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_DTM" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S20" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_W09" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_K1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_L0" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_L5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_L4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_L1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>H1</me:id>
				<me:title>Hazardous Material</me:title>
				<me:description>Hazardous Material</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_H2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>