mapHelper/mapHelper/Repository/EDI/004010/322.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/322" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>322</me:id>
				<me:title>Terminal Operations And Intermodal Ramp</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>SO</me:functionalGroup>
				<me:description>Terminal Operations And Intermodal Ramp</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_ZC1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S2" type="es:S_Q5" maxOccurs="1" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N7</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_N7" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_V4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_W09" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_W2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_NA" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_GR5" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_Y7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_V1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_13" type="me:L_13" maxOccurs="20" me:nodetype="LOOP"></element><element name="S15" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S19" type="es:S_K1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_21" type="me:L_21" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element><element name="S24" type="es:S_L3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_13" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>R4</me:id>
				<me:title>Port Or Terminal</me:title>
				<me:description>Port Or Terminal</me:description>
				</appinfo></annotation><sequence><element name="S13" type="es:S_R4" maxOccurs="1" me:nodetype="SEG"></element><element name="S14" type="es:S_DTM" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_21" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>L0</me:id>
				<me:title>Line Item - Quantity And Weight</me:title>
				<me:description>Line Item - Quantity And Weight</me:description>
				</appinfo></annotation><sequence><element name="S21" type="es:S_L0" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_L5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_H1" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>