mapHelper/mapHelper/Repository/EDI/004010/325.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/325" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>325</me:id>
				<me:title>Consolidation Of Goods In Container</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>SO</me:functionalGroup>
				<me:description>Consolidation Of Goods In Container</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_B12" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_W09" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_V1" maxOccurs="1" me:nodetype="SEG"></element><element name="S6" type="es:S_V9" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_L3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_R4" maxOccurs="4" me:nodetype="SEG"></element><element name="S10" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_11" type="me:L_11" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MBL</me:id>
				<me:title>Bill Of Lading</me:title>
				<me:description>Bill Of Lading</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_MBL" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_L3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_R4" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element><element name="L_20" type="me:L_20" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Item Identification</me:title>
				<me:description>Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_LIN" maxOccurs="1" me:nodetype="SEG"></element><element name="S21" type="es:S_SN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S22" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_TD1" maxOccurs="1" me:nodetype="SEG"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="S26" type="es:S_G20" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_MAN" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_UIT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_L8" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_C3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_R4" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>H1</me:id>
				<me:title>Hazardous Material</me:title>
				<me:description>Hazardous Material</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_H1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_H2" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>