mapHelper/mapHelper/Repository/EDI/004010/426.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/426" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>426</me:id>
				<me:title>Rail Revenue Waybill</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>RW</me:functionalGroup>
				<me:description>Rail Revenue Waybill</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_ZR" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N9" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_DTM" maxOccurs="5" me:nodetype="SEG"></element><element name="S4" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_NTE" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_BX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BNX</me:id>
				<me:title>Rail Shipment Information</me:title>
				<me:description>Rail Shipment Information</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_BNX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N9" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_DTM" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_11" type="me:L_11" minOccurs="0" maxOccurs="500" me:nodetype="LOOP"></element><element name="S18" type="es:S_N8" maxOccurs="499" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N8A" maxOccurs="499" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_V9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_F9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_D9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_23" type="me:L_23" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="6" me:nodetype="LOOP"></element><element name="S31" type="es:S_PI" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="L_32" type="me:L_32" minOccurs="0" maxOccurs="13" me:nodetype="LOOP"></element><element name="S36" type="es:S_R9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_H3" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_PS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="64" me:nodetype="LOOP"></element><element name="S51" type="es:S_L3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_L1A" maxOccurs="13" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N7</me:id>
				<me:title>Equipment Details</me:title>
				<me:description>Equipment Details</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_N7" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_VC" maxOccurs="21" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_IC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_G4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_M7" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_GA" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_23" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S23" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_BL" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>S1</me:id>
				<me:title>Stop-off Name</me:title>
				<me:description>Stop-off Name</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_S1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_S9" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_32" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>R2</me:id>
				<me:title>Route Information</me:title>
				<me:description>Route Information</me:description>
				</appinfo></annotation><sequence><element name="S32" type="es:S_R2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="4" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>R2B</me:id>
				<me:title>Junctions And Proportions</me:title>
				<me:description>Junctions And Proportions</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_R2B" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_R2C" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_R2D" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_L5" maxOccurs="15" minOccurs="0" me:nodetype="SEG"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>L0</me:id>
				<me:title>Line Item - Quantity And Weight</me:title>
				<me:description>Line Item - Quantity And Weight</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_L0" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_MEA" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_L1" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_DTM" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_PI" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>T1</me:id>
				<me:title>Transit Inbound Origin</me:title>
				<me:description>Transit Inbound Origin</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_T1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_T2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_T3" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_T6" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_T8" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>