mapHelper/mapHelper/Repository/EDI/004010/527.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/527" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>527</me:id>
				<me:title>Material Due-in And Receipt</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>MD</me:functionalGroup>
				<me:description>Material Due-in And Receipt</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BR" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_4" type="me:L_4" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element><element name="L_6" type="me:L_6" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_11" type="me:L_11" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_4" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S4" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_G61" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_11" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LIN</me:id>
				<me:title>Item Identification</me:title>
				<me:description>Item Identification</me:description>
				</appinfo></annotation><sequence><element name="S11" type="es:S_LIN" maxOccurs="1" me:nodetype="SEG"></element><element name="S12" type="es:S_CS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>RCD</me:id>
				<me:title>Receiving Conditions</me:title>
				<me:description>Receiving Conditions</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_RCD" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_GF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_DD" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S18" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_AMT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_NTE" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_G66" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_22" type="me:L_22" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element><element name="L_36" type="me:L_36" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_46" type="me:L_46" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_22" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S22" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CS</me:id>
				<me:title>Contract Summary</me:title>
				<me:description>Contract Summary</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_CS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PO4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_N9" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="L_29" type="me:L_29" minOccurs="0" maxOccurs="25" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_29" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S29" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_G61" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_36" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Identification</me:title>
				<me:description>Reference Identification</me:description>
				</appinfo></annotation><sequence><element name="S36" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_G62" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_N9" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_40" type="me:L_40" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_40" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S40" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>QTY</me:id>
				<me:title>Quantity</me:title>
				<me:description>Quantity</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_QTY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_44" type="me:L_44" minOccurs="0" maxOccurs="100" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_44" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S44" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_46" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>FA1</me:id>
				<me:title>Type Of Financial Accounting Data</me:title>
				<me:description>Type Of Financial Accounting Data</me:description>
				</appinfo></annotation><sequence><element name="S46" type="es:S_FA1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_FA2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>