mapHelper/mapHelper/Repository/EDI/004010/835.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/835" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>835</me:id>
				<me:title>Health Care Claim Payment/advice</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>HP</me:functionalGroup>
				<me:description>Health Care Claim Payment/advice</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BPR" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_NTE" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_TRN" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="L_7" type="me:L_7" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="S35" type="es:S_PLB" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_7" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S7" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_N2" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N3" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_PER" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_RDM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_DTM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_TS3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_TS2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>CLP</me:id>
				<me:title>Claim Level Data</me:title>
				<me:description>Claim Level Data</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_CLP" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_CAS" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_NM1" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_MIA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_MOA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_REF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S25" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_AMT" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_QTY" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="L_28" type="me:L_28" minOccurs="0" maxOccurs="999" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_28" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SVC</me:id>
				<me:title>Service Information</me:title>
				<me:description>Service Information</me:description>
				</appinfo></annotation><sequence><element name="S28" type="es:S_SVC" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_DTM" maxOccurs="9" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_CAS" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_REF" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_AMT" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S33" type="es:S_QTY" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_LQ" maxOccurs="99" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>