mapHelper/mapHelper/Repository/EDI/004010/870.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/870" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>870</me:id>
				<me:title>Order Status Report</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>RS</me:functionalGroup>
				<me:description>Order Status Report</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BSR" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_TD3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S3" type="es:S_TD4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_TD5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_8" type="me:L_8" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_15" type="me:L_15" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_17" type="me:L_17" maxOccurs="1000" me:nodetype="LOOP"></element><element name="S64" type="es:S_CTT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Identification</me:title>
				<me:description>Reference Identification</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S7" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_8" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S8" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PWK" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_15" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S15" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_17" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>HL</me:id>
				<me:title>Hierarchical Level</me:title>
				<me:description>Hierarchical Level</me:description>
				</appinfo></annotation><sequence><element name="S17" type="es:S_HL" maxOccurs="1" me:nodetype="SEG"></element><element name="S18" type="es:S_PRF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_19" type="me:L_19" minOccurs="0" maxOccurs="104" me:nodetype="LOOP"></element><element name="S22" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S24" type="es:S_CS" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="L_25" type="me:L_25" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element><element name="L_27" type="me:L_27" minOccurs="0" maxOccurs="200" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_35" type="me:L_35" minOccurs="0" maxOccurs="1000" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_19" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ISR</me:id>
				<me:title>Item Status Report</me:title>
				<me:description>Item Status Report</me:description>
				</appinfo></annotation><sequence><element name="S19" type="es:S_ISR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S20" type="es:S_PID" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S21" type="es:S_QTY" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_25" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REF</me:id>
				<me:title>Reference Identification</me:title>
				<me:description>Reference Identification</me:description>
				</appinfo></annotation><sequence><element name="S25" type="es:S_REF" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S26" type="es:S_DTM" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_27" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S27" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S31" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_PER" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_35" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PO1</me:id>
				<me:title>Baseline Item Data</me:title>
				<me:description>Baseline Item Data</me:description>
				</appinfo></annotation><sequence><element name="S35" type="es:S_PO1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_CUR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S37" type="es:S_SLN" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_PO3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S39" type="es:S_PID" maxOccurs="1000" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_MEA" maxOccurs="40" minOccurs="0" me:nodetype="SEG"></element><element name="S41" type="es:S_PKG" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="L_42" type="me:L_42" minOccurs="0" maxOccurs="104" me:nodetype="LOOP"></element><element name="L_58" type="me:L_58" minOccurs="0" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_42" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>ISR</me:id>
				<me:title>Item Status Report</me:title>
				<me:description>Item Status Report</me:description>
				</appinfo></annotation><sequence><element name="S42" type="es:S_ISR" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S43" type="es:S_PID" maxOccurs="6" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_QTY" maxOccurs="4" minOccurs="0" me:nodetype="SEG"></element><element name="S45" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S46" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S47" type="es:S_N2" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S48" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S49" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S50" type="es:S_TD1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S51" type="es:S_TD5" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S52" type="es:S_TD3" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S53" type="es:S_TD4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S54" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="S55" type="es:S_SAC" maxOccurs="25" minOccurs="0" me:nodetype="SEG"></element><element name="L_56" type="me:L_56" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_56" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S56" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S57" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_58" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S58" type="es:S_LX" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S59" type="es:S_REF" maxOccurs="unbounded" minOccurs="0" me:nodetype="SEG"></element><element name="S60" type="es:S_N1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S61" type="es:S_DTM" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="L_62" type="me:L_62" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_62" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LM</me:id>
				<me:title>Code Source Information</me:title>
				<me:description>Code Source Information</me:description>
				</appinfo></annotation><sequence><element name="S62" type="es:S_LM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S63" type="es:S_LQ" maxOccurs="100" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>