mapHelper/mapHelper/Repository/EDI/004010/872.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/872" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>872</me:id>
				<me:title>Residential Mortgage Insurance Applicati</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>ME</me:functionalGroup>
				<me:description>Residential Mortgage Insurance Applicati</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_BGN" maxOccurs="1" me:nodetype="SEG"></element><element name="S2" type="es:S_N1" maxOccurs="5" me:nodetype="SEG"></element><element name="L_3" type="me:L_3" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_3" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LX</me:id>
				<me:title>Assigned Number</me:title>
				<me:description>Assigned Number</me:description>
				</appinfo></annotation><sequence><element name="S3" type="es:S_LX" maxOccurs="1" me:nodetype="SEG"></element><element name="S4" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S5" type="es:S_REF" maxOccurs="12" minOccurs="0" me:nodetype="SEG"></element><element name="L_6" type="me:L_6" maxOccurs="unbounded" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_6" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>LRQ</me:id>
				<me:title>Mortgage Characteristics Requested</me:title>
				<me:description>Mortgage Characteristics Requested</me:description>
				</appinfo></annotation><sequence><element name="S6" type="es:S_LRQ" maxOccurs="1" me:nodetype="SEG"></element><element name="S7" type="es:S_LN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S8" type="es:S_PRD" maxOccurs="1" me:nodetype="SEG"></element><element name="S9" type="es:S_MIC" maxOccurs="5" me:nodetype="SEG"></element><element name="S10" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_REF" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_PEX" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_RLD" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S14" type="es:S_PAY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S15" type="es:S_RAT" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_16" type="me:L_16" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_18" type="me:L_18" maxOccurs="5" me:nodetype="LOOP"></element><element name="L_24" type="me:L_24" maxOccurs="12" me:nodetype="LOOP"></element><element name="L_37" type="me:L_37" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_39" type="me:L_39" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element><element name="L_41" type="me:L_41" minOccurs="0" maxOccurs="20" me:nodetype="LOOP"></element><element name="L_43" type="me:L_43" minOccurs="0" maxOccurs="1" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_16" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SCM</me:id>
				<me:title>Credit Score Model</me:title>
				<me:description>Credit Score Model</me:description>
				</appinfo></annotation><sequence><element name="S16" type="es:S_SCM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_SCS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_NX1" maxOccurs="1" me:nodetype="SEG"></element><element name="S19" type="es:S_NX2" maxOccurs="30" me:nodetype="SEG"></element><element name="L_20" type="me:L_20" maxOccurs="5" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_20" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PAS</me:id>
				<me:title>Property Appraisal Summary</me:title>
				<me:description>Property Appraisal Summary</me:description>
				</appinfo></annotation><sequence><element name="S20" type="es:S_PAS" maxOccurs="1" me:nodetype="SEG"></element><element name="S21" type="es:S_N1" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S22" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S23" type="es:S_MSG" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_24" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>IN1</me:id>
				<me:title>Individual Identification</me:title>
				<me:description>Individual Identification</me:description>
				</appinfo></annotation><sequence><element name="S24" type="es:S_IN1" maxOccurs="1" me:nodetype="SEG"></element><element name="S25" type="es:S_IN2" maxOccurs="10" me:nodetype="SEG"></element><element name="S26" type="es:S_YNQ" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S27" type="es:S_DMG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S28" type="es:S_MSG" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S29" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S30" type="es:S_BFS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="L_31" type="me:L_31" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element><element name="L_33" type="me:L_33" minOccurs="0" maxOccurs="10" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_31" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>SCM</me:id>
				<me:title>Credit Score Model</me:title>
				<me:description>Credit Score Model</me:description>
				</appinfo></annotation><sequence><element name="S31" type="es:S_SCM" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S32" type="es:S_SCS" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_33" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>NX1</me:id>
				<me:title>Property Or Entity Identification</me:title>
				<me:description>Property Or Entity Identification</me:description>
				</appinfo></annotation><sequence><element name="S33" type="es:S_NX1" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S34" type="es:S_NX2" maxOccurs="30" minOccurs="0" me:nodetype="SEG"></element><element name="S35" type="es:S_N10" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S36" type="es:S_ARS" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_37" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>REA</me:id>
				<me:title>Real Estate Property Information</me:title>
				<me:description>Real Estate Property Information</me:description>
				</appinfo></annotation><sequence><element name="S37" type="es:S_REA" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S38" type="es:S_AMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_39" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>MCD</me:id>
				<me:title>Mortgage Closing Data</me:title>
				<me:description>Mortgage Closing Data</me:description>
				</appinfo></annotation><sequence><element name="S39" type="es:S_MCD" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S40" type="es:S_AMT" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_41" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>BUY</me:id>
				<me:title>Loan Buydown</me:title>
				<me:description>Loan Buydown</me:description>
				</appinfo></annotation><sequence><element name="S41" type="es:S_BUY" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S42" type="es:S_TBA" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_43" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>PRJ</me:id>
				<me:title>Multifamily Housing Project</me:title>
				<me:description>Multifamily Housing Project</me:description>
				</appinfo></annotation><sequence><element name="S43" type="es:S_PRJ" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S44" type="es:S_PER" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>