mapHelper/mapHelper/Repository/EDI/004010/944.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.directedi.com/edixml/schema/EDI/map/944" xmlns:me="http://www.directedi.com/edixml/schema/EDI/map/mapName" xmlns:es="http://www.directedi.com/edixml/schema/EDI/004010/segment" xmlns="http://www.w3.org/2001/XMLSchema">
	<import namespace="http://www.directedi.com/edixml/schema/EDI/004010/segment" schemaLocation="segment.xsd"/><complexType name="MAP" me:nodetype="MAP"><annotation>
			<appinfo>
				<me:id>944</me:id>
				<me:title>Warehouse Stock Transfer Receipt Advice</me:title>
				<me:plugintype>EDI</me:plugintype>
				<me:ediversion>004010</me:ediversion>
				<me:functionalGroup>RE</me:functionalGroup>
				<me:description>Warehouse Stock Transfer Receipt Advice</me:description>				
			</appinfo></annotation><sequence>
<element name="S1" type="es:S_W17" maxOccurs="1" me:nodetype="SEG"></element><element name="L_2" type="me:L_2" maxOccurs="10" me:nodetype="LOOP"></element><element name="S7" type="es:S_N9" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S8" type="es:S_G61" maxOccurs="3" minOccurs="0" me:nodetype="SEG"></element><element name="S9" type="es:S_G62" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S10" type="es:S_NTE" maxOccurs="20" minOccurs="0" me:nodetype="SEG"></element><element name="S11" type="es:S_W08" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S12" type="es:S_W18" maxOccurs="10" minOccurs="0" me:nodetype="SEG"></element><element name="S13" type="es:S_G08" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_14" type="me:L_14" maxOccurs="9999" me:nodetype="LOOP"></element><element name="S20" type="es:S_W14" maxOccurs="1" me:nodetype="SEG"></element></sequence></complexType><!-- Loop definitions --><complexType name="L_2" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>N1</me:id>
				<me:title>Name</me:title>
				<me:description>Name</me:description>
				</appinfo></annotation><sequence><element name="S2" type="es:S_N1" maxOccurs="1" me:nodetype="SEG"></element><element name="S3" type="es:S_N2" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S4" type="es:S_N3" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="S5" type="es:S_N4" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S6" type="es:S_PER" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType><complexType name="L_14" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>W07</me:id>
				<me:title>Item Detail For Stock Receipt</me:title>
				<me:description>Item Detail For Stock Receipt</me:description>
				</appinfo></annotation><sequence><element name="S14" type="es:S_W07" maxOccurs="1" me:nodetype="SEG"></element><element name="S15" type="es:S_G69" maxOccurs="5" minOccurs="0" me:nodetype="SEG"></element><element name="S16" type="es:S_N9" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element><element name="S17" type="es:S_W20" maxOccurs="2" minOccurs="0" me:nodetype="SEG"></element><element name="L_18" type="me:L_18" minOccurs="0" maxOccurs="50" me:nodetype="LOOP"></element></sequence></complexType><complexType name="L_18" me:nodetype="LOOP">
<annotation><appinfo>
				<me:id>W13</me:id>
				<me:title>Item Detail Exception</me:title>
				<me:description>Item Detail Exception</me:description>
				</appinfo></annotation><sequence><element name="S18" type="es:S_W13" maxOccurs="1" minOccurs="0" me:nodetype="SEG"></element><element name="S19" type="es:S_N9" maxOccurs="200" minOccurs="0" me:nodetype="SEG"></element></sequence></complexType></schema>